@import "imports" 
@import "params" 
@import "vars"
@import "myvars" 
 
@mixin form-field( $index ) 
	border-color: nth( $border-color-lighten, $index )
	
	input
		border-color: nth( $border-color, $index )

		&:focus
			@include box-shadow( unquote(nth( $outline, $index )) )
			border-color: nth( $border-color-darken, $index )

	&:hover
		input
			border-color: nth( $border-color-darken, $index )
 
 
$themes: null !default 

@if $dependent == null
	
	.#{$form}
		.#{$form-field}
			@extend %object
			border: $form-field-border-width
			border-style: solid
			@include border-radius( $form-field-border-radius )


	.#{$form}
		
		&.#{$row}
			@extend %#{$row}

		input
			border-width: 1px
			border-style: solid
			outline: none

		.#{$form-field} input
			width: 100%

		.#{$form-field},
		.#{$form-field} input
			display: block


		@for $index from 1 through $grid-columns
			
			.#{$col}#{$index}
				@extend %#{$col}#{$index}

			.#{$offset}#{$index}
				@extend %#{$offset}#{$index}





 
@if $themes
	@if type-of( $themes ) == list

			
	  
		@each $theme in $themes 
	 
			$index: index( $themes, $theme ) 
	 
			// With each theme do 
			@if $dependent == null 
				.#{$form}
					.#{$form-field}.#{$theme} 
						@include form-field( $index ) 
			@else 
				%#{$form}
					.#{$form-field}.#{$theme} 
						@include form-field( $index ) 
 
	@else 
		@if type-of( $themes ) == string 
			@if $dependent == null 
				.#{$form}
					.#{$form-field}.#{$themes} 
						@include form-field( 1 ) 
			@else 
				%#{$form}
					.#{$form-field}.#{$themes} 
						@include form-field( 1 ) 