* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.-form.-row {
  *zoom: 1;
  display: block; }
  .-form.-row:before, .-form.-row:after {
    content: " ";
    display: table; }
  .-form.-row:after {
    clear: both; }

.-form .-col1 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 6.17215%; }
  .-form .-col1:last-child {
    margin-right: 0; }

.-form .-offset1 {
  margin-left: 8.5298%; }

.-form .-col2 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 14.70196%; }
  .-form .-col2:last-child {
    margin-right: 0; }

.-form .-offset2 {
  margin-left: 17.05961%; }

.-form .-col3 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .-form .-col3:last-child {
    margin-right: 0; }

.-form .-offset3 {
  margin-left: 25.58941%; }

.-form .-col4 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .-form .-col4:last-child {
    margin-right: 0; }

.-form .-offset4 {
  margin-left: 34.11922%; }

.-form .-col5 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 40.29137%; }
  .-form .-col5:last-child {
    margin-right: 0; }

.-form .-offset5 {
  margin-left: 42.64902%; }

.-form .-col6 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .-form .-col6:last-child {
    margin-right: 0; }

.-form .-offset6 {
  margin-left: 51.17883%; }

.-form .-col7 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 57.35098%; }
  .-form .-col7:last-child {
    margin-right: 0; }

.-form .-offset7 {
  margin-left: 59.70863%; }

.-form .-col8 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .-form .-col8:last-child {
    margin-right: 0; }

.-form .-offset8 {
  margin-left: 68.23843%; }

.-form .-col9 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 74.41059%; }
  .-form .-col9:last-child {
    margin-right: 0; }

.-form .-offset9 {
  margin-left: 76.76824%; }

.-form .-col10 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 82.94039%; }
  .-form .-col10:last-child {
    margin-right: 0; }

.-form .-offset10 {
  margin-left: 85.29804%; }

.-form .-col11 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 91.4702%; }
  .-form .-col11:last-child {
    margin-right: 0; }

.-form .-offset11 {
  margin-left: 93.82785%; }

.-form .-col12 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%; }
  .-form .-col12:last-child {
    margin-right: 0; }

.-form .-offset12 {
  margin-left: 102.35765%; }

.-form .-field {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: inline-block;
  outline: none;
  vertical-align: middle; }

.-form .-field {
  border: 3px;
  border-style: solid;
  border-radius: 3px; }

.-form input {
  border-width: 1px;
  border-style: solid;
  outline: none; }
.-form .-field input {
  width: 100%; }
.-form .-field,
.-form .-field input {
  display: block; }

.-form .-field.-primary- {
  border-color: #1b88d6; }
  .-form .-field.-primary- input {
    border-color: #187abf; }
    .-form .-field.-primary- input:focus {
      -webkit-box-shadow: 0 0 10px rgba(26,120,217,1);
      -moz-box-shadow: 0 0 10px rgba(26,120,217,1);
      box-shadow: 0 0 10px rgba(26,120,217,1);
      border-color: #156ba9; }
  .-form .-field.-primary-:hover input {
    border-color: #156ba9; }
