@-webkit-keyframes -anim-loading-keyframes {
  from {
    background-position: 0 0; }

  to {
    background-position: 52px 52px; } }

@-moz-keyframes -anim-loading-keyframes {
  from {
    background-position: 0 0; }

  to {
    background-position: 52px 52px; } }

@keyframes -anim-loading-keyframes {
  from {
    background-position: 0 0; }

  to {
    background-position: 52px 52px; } }

.-anim-loading, ._loading_.-table tr td:before, .-table tr._loading_ td:before, .-table tr td._loading_:before {
  -webkit-animation: -anim-loading-keyframes 1000ms linear both;
  -webkit-animation-play-state: paused;
  -moz-animation: -anim-loading-keyframes 1000ms linear both;
  -moz-animation-play-state: paused;
  -o-animation: -anim-loading-keyframes 1000ms linear both;
  -o-animation-play-state: paused;
  animation: -anim-loading-keyframes 1000ms linear both;
  animation-play-state: paused;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite; }
  .-anim-loading._anim-start_, ._loading_.-table tr td._anim-start_:before, .-table tr._loading_ td._anim-start_:before, .-table tr td._anim-start_._loading_:before, .-table tr td:before, ._loading_.-table tr._anim-start_ td:before, .-table tr._loading_._anim-start_ td:before, ._loading_._anim-start_.-table tr td:before {
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running; }

.-table tr td {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: inline-block;
  outline: none;
  vertical-align: middle; }

._loading_.-table tr td, .-table tr._loading_ td, .-table tr td._loading_ {
  position: relative; }
  ._loading_.-table tr td:before, .-table tr._loading_ td:before, .-table tr td._loading_:before {
    background-size: 52px 52px;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.35, rgba(255, 255, 255, 0.35)), color-stop(0.35, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.35)), color-stop(0.75, rgba(255, 255, 255, 0.35)), color-stop(0.75, transparent), to(transparent)) !important;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.35) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0.35) 75%, transparent 75%, transparent) !important;
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.35) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0.35) 75%, transparent 75%, transparent) !important;
    background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.35) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0.35) 75%, transparent 75%, transparent) !important;
    background-image: linear, -45deg, rgba(255, 255, 255, 0.35) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0.35) 75%, transparent 75%, transparent !important;
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }

.-table tr td {
  vertical-align: top;
  border: 1px solid transparent;
  font-size: 16px;
  padding: 5.33333px 8px;
  color: #333333; }
  ._tiny.-table tr td, .-table tr._tiny td, .-table tr td._tiny {
    font-size: 12px;
    padding: 4px 6px; }
  ._small.-table tr td, .-table tr._small td, .-table tr td._small {
    font-size: 14px;
    padding: 4.66667px 7px; }
  ._normal.-table tr td, .-table tr._normal td, .-table tr td._normal {
    font-size: 24px;
    padding: 8px 12px; }
  ._major.-table tr td, .-table tr._major td, .-table tr td._major {
    font-size: 32px;
    padding: 10.66667px 16px; }
  ._big.-table tr td, .-table tr._big td, .-table tr td._big {
    font-size: 40px;
    padding: 13.33333px 20px; }
  ._huge.-table tr td, .-table tr._huge td, .-table tr td._huge {
    font-size: 48px;
    padding: 16px 24px; }
  ._giant.-table tr td, .-table tr._giant td, .-table tr td._giant {
    font-size: 60px;
    padding: 20px 30px; }
  ._divine.-table tr td, .-table tr._divine td, .-table tr td._divine {
    font-size: 78px;
    padding: 26px 39px; }
  ._horizontal_.-table tr td, .-table tr._horizontal_ td, .-table tr td._horizontal_ {
    border-top-color: #ebebeb; }
  ._vertical_.-table tr td, .-table tr._vertical_ td, .-table tr td._vertical_ {
    border-left-color: #f0f0f0; }
    ._vertical_.-table tr td:first-child, .-table tr._vertical_ td:first-child, .-table tr td._vertical_:first-child {
      border-left-color: transparent; }
  .-table tr._striped_ td:nth-child(2n), ._striped_.-table tr:nth-child(2n) td, .-table tr._striped-all_ td, .-table tr td._striped_ {
    background-color: #eeeeee; }
  .-table tr td._hover_:hover {
    background-color: #e2e2e2; }
  ._hover_.-table:hover tr:hover td, .-table tr._hover_:hover td, .-table tr td._hovered_ {
    background-color: #e2e2e2; }
  .-disabled-.-table tr td, .-table tr.-disabled- td, .-table tr td.-disabled- {
    color: white!important;
    background-color: #f3f3f3!important;
    text-shadow: none!important; }
    ._horizontal_.-table tr td.-disabled-, .-table tr._horizontal_ td.-disabled-, .-disabled-.-table tr td._horizontal_, .-table tr.-disabled- td._horizontal_, ._horizontal_.-table tr.-disabled- td, .-disabled-.-table tr._horizontal_ td, .-disabled-._horizontal_.-table tr td, .-table tr.-disabled-._horizontal_ td, .-table tr td.-disabled-._horizontal_ {
      border-top-color: #d9d9d9!important; }
    ._vertical_.-table tr td.-disabled-, .-table tr._vertical_ td.-disabled-, .-disabled-.-table tr td._vertical_, .-table tr.-disabled- td._vertical_, ._vertical_.-table tr.-disabled- td, .-disabled-.-table tr._vertical_ td, .-disabled-._vertical_.-table tr td, .-table tr.-disabled-._vertical_ td, .-table tr td.-disabled-._vertical_ {
      border-left-color: #d9d9d9!important; }
      ._vertical_.-table tr td.-disabled-:first-child, .-table tr._vertical_ td.-disabled-:first-child, .-disabled-.-table tr td._vertical_:first-child, .-table tr.-disabled- td._vertical_:first-child, ._vertical_.-table tr.-disabled- td:first-child, .-disabled-.-table tr._vertical_ td:first-child, .-disabled-._vertical_.-table tr td:first-child, .-table tr.-disabled-._vertical_ td:first-child, .-table tr td.-disabled-._vertical_:first-child {
        border-left-color: transparent!important; }
    .-table tr._striped_ td.-disabled-:nth-child(2n), ._striped_.-table tr:nth-child(2n) td.-disabled-, .-table tr._striped-all_ td.-disabled-, .-disabled-.-table tr td._striped_, .-table tr.-disabled- td._striped_, .-disabled-.-table tr._striped_ td:nth-child(2n), .-table tr.-disabled-._striped_ td:nth-child(2n), ._striped_.-table tr.-disabled-:nth-child(2n) td, .-disabled-.-table tr._striped-all_ td, .-disabled-._striped_.-table tr:nth-child(2n) td, .-table tr.-disabled-._striped-all_ td, .-table tr td.-disabled-._striped_ {
      background-color: #f3f3f3!important; }
    .-disabled-.-table tr td._hover_:hover, .-table tr.-disabled- td._hover_:hover, .-table tr td.-disabled-._hover_:hover {
      background-color: #f3f3f3!important; }
    ._hover_.-table:hover tr:hover td.-disabled-, .-table tr._hover_:hover td.-disabled-, .-disabled-.-table tr td._hovered_, .-table tr.-disabled- td._hovered_, ._hover_.-table:hover tr.-disabled-:hover td, .-disabled-.-table tr._hover_:hover td, .-disabled-._hover_.-table:hover tr:hover td, .-table tr.-disabled-._hover_:hover td, .-table tr td.-disabled-._hovered_ {
      background-color: #f3f3f3!important; }
  .-primary-.-table tr td, .-table tr.-primary- td, .-table tr td.-primary- {
    color: white;
    background-color: #1b88d6;
    text-shadow: 0 -1px rgba(0,0,0,.3); }
    ._horizontal_.-table tr td.-primary-, .-table tr._horizontal_ td.-primary-, .-primary-.-table tr td._horizontal_, .-table tr.-primary- td._horizontal_, ._horizontal_.-table tr.-primary- td, .-primary-.-table tr._horizontal_ td, .-primary-._horizontal_.-table tr td, .-table tr.-primary-._horizontal_ td, .-table tr td.-primary-._horizontal_ {
      border-top-color: #187abf; }
    ._vertical_.-table tr td.-primary-, .-table tr._vertical_ td.-primary-, .-primary-.-table tr td._vertical_, .-table tr.-primary- td._vertical_, ._vertical_.-table tr.-primary- td, .-primary-.-table tr._vertical_ td, .-primary-._vertical_.-table tr td, .-table tr.-primary-._vertical_ td, .-table tr td.-primary-._vertical_ {
      border-left-color: #187abf; }
      ._vertical_.-table tr td.-primary-:first-child, .-table tr._vertical_ td.-primary-:first-child, .-primary-.-table tr td._vertical_:first-child, .-table tr.-primary- td._vertical_:first-child, ._vertical_.-table tr.-primary- td:first-child, .-primary-.-table tr._vertical_ td:first-child, .-primary-._vertical_.-table tr td:first-child, .-table tr.-primary-._vertical_ td:first-child, .-table tr td.-primary-._vertical_:first-child {
        border-left-color: transparent; }
    .-table tr._striped_ td.-primary-:nth-child(2n), ._striped_.-table tr:nth-child(2n) td.-primary-, .-table tr._striped-all_ td.-primary-, .-primary-.-table tr td._striped_, .-table tr.-primary- td._striped_, .-primary-.-table tr._striped_ td:nth-child(2n), .-table tr.-primary-._striped_ td:nth-child(2n), ._striped_.-table tr.-primary-:nth-child(2n) td, .-primary-.-table tr._striped-all_ td, .-primary-._striped_.-table tr:nth-child(2n) td, .-table tr.-primary-._striped-all_ td, .-table tr td.-primary-._striped_ {
      background-color: #156ba9; }
    .-primary-.-table tr td._hover_:hover, .-table tr.-primary- td._hover_:hover, .-table tr td.-primary-._hover_:hover {
      background-color: #104e7b; }
    ._hover_.-table:hover tr:hover td.-primary-, .-table tr._hover_:hover td.-primary-, .-primary-.-table tr td._hovered_, .-table tr.-primary- td._hovered_, ._hover_.-table:hover tr.-primary-:hover td, .-primary-.-table tr._hover_:hover td, .-primary-._hover_.-table:hover tr:hover td, .-table tr.-primary-._hover_:hover td, .-table tr td.-primary-._hovered_ {
      background-color: #104e7b; }

.-table tr.-header td {
  font-weight: bold; }
._horizontal_.-table tr:first-child td, .-table tr._horizontal_:first-child td {
  border-top-color: transparent; }
._horizontal_.-table tr.-disabled-:first-child td, .-disabled-.-table tr._horizontal_:first-child td, .-disabled-._horizontal_.-table tr:first-child td, .-table tr.-disabled-._horizontal_:first-child td {
  border-top-color: transparent; }
._horizontal_.-table tr.-primary-:first-child td, .-primary-.-table tr._horizontal_:first-child td, .-primary-._horizontal_.-table tr:first-child td, .-table tr.-primary-._horizontal_:first-child td {
  border-top-color: transparent; }

.-table {
  border: 1px solid transparent; }
  ._bordered_.-table {
    border-color: #ebebeb; }
  .-disabled-._bordered_.-table {
    border-color: #d9d9d9!important; }
  .-primary-._bordered_.-table {
    border-color: #187abf; }
