h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0; }

h6 {
  font-size: 24px;
  font-size: 1.33333rem;
  margin-top: 1.2375rem;
  margin-bottom: 1.2375rem; }

h5 {
  font-size: 32px;
  font-size: 1.77778rem;
  margin-top: 0.92813rem;
  margin-bottom: 0.92813rem; }

h4 {
  font-size: 40px;
  font-size: 2.22222rem;
  margin-top: 0.7425rem;
  margin-bottom: 0.7425rem; }

h3 {
  font-size: 48px;
  font-size: 2.66667rem;
  margin-top: 0.61875rem;
  margin-bottom: 0.61875rem; }

h2 {
  font-size: 60px;
  font-size: 3.33333rem;
  margin-top: 0.495rem;
  margin-bottom: 0.495rem; }

h1 {
  font-size: 78px;
  font-size: 4.33333rem;
  margin-top: 0.38077rem;
  margin-bottom: 0.38077rem; }
