.-badge {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: inline-block;
  outline: none;
  vertical-align: middle; }

.-badge {
  font-size: 16px;
  padding: 1.6px 8px;
  border-radius: 16px;
  color: #333333;
  background-color: #eeeeee;
  text-shadow: 0 1px 0 rgba(255,255,255,1); }
  ._tiny.-badge {
    font-size: 12px;
    padding: 1.2px 6px;
    border-radius: 12px; }
  ._small.-badge {
    font-size: 14px;
    padding: 1.4px 7px;
    border-radius: 14px; }
  ._minor.-badge {
    font-size: 16px;
    padding: 1.6px 8px;
    border-radius: 16px; }
  ._normal.-badge {
    font-size: 24px;
    padding: 2.4px 12px;
    border-radius: 24px; }
  ._major.-badge {
    font-size: 32px;
    padding: 3.2px 16px;
    border-radius: 32px; }
  ._big.-badge {
    font-size: 40px;
    padding: 4px 20px;
    border-radius: 40px; }
  ._huge.-badge {
    font-size: 48px;
    padding: 4.8px 24px;
    border-radius: 48px; }
  ._giant.-badge {
    font-size: 60px;
    padding: 6px 30px;
    border-radius: 60px; }
  ._divine.-badge {
    font-size: 78px;
    padding: 7.8px 39px;
    border-radius: 78px; }
  .-disabled-.-badge {
    color: white;
    background-color: #f3f3f3;
    text-shadow: none; }
  .-primary-.-badge {
    color: white;
    background-color: #3da0e7;
    text-shadow: 0 -1px rgba(0,0,0,.3); }
