h1 {
  font-size: 36px;
  line-height: 49px; }

h2 {
  font-size: 27px;
  line-height: 36px; }

h3 {
  font-size: 22px;
  line-height: 28px; }

h4 {
  font-size: 19px;
  line-height: 23px; }

h5 {
  font-size: 17px;
  line-height: 20px; }

h6 {
  font-size: 16px;
  line-height: 19px; }
