@-webkit-keyframes -anim-loading-keyframes {
  from {
    background-position: 0 0; }

  to {
    background-position: 52px 52px; } }

@-moz-keyframes -anim-loading-keyframes {
  from {
    background-position: 0 0; }

  to {
    background-position: 52px 52px; } }

@keyframes -anim-loading-keyframes {
  from {
    background-position: 0 0; }

  to {
    background-position: 52px 52px; } }

.-anim-loading {
  -webkit-animation: -anim-loading-keyframes 1000ms linear both;
  -webkit-animation-play-state: paused;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: -anim-loading-keyframes 1000ms linear both;
  -moz-animation-play-state: paused;
  -moz-animation-iteration-count: infinite;
  -o-animation: -anim-loading-keyframes 1000ms linear both;
  -o-animation-play-state: paused;
  -o-animation-iteration-count: infinite;
  animation: -anim-loading-keyframes 1000ms linear both;
  animation-play-state: paused;
  animation-iteration-count: infinite; }
  .-anim-loading._anim-start_ {
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running; }
