@-webkit-keyframes move {
  from {
    background-position: 0 0; }

  to {
    background-position: 52px 52px; } }

@-moz-keyframes move {
  from {
    background-position: 0 0; }

  to {
    background-position: 52px 52px; } }

@-ms-keyframes move {
  from {
    background-position: 0 0; }

  to {
    background-position: 52px 52px; } }

@-o-keyframes move {
  from {
    background-position: 0 0; }

  to {
    background-position: 52px 52px; } }

@keyframes move {
  from {
    background-position: 0 0; }

  to {
    background-position: 52px 52px; } }

.-btn-flat {
  background-image: -webkit-linear-gradient(white 0, #eeeeee 100%);
  background-image: -moz-linear-gradient(white 0, #eeeeee 100%);
  background-image: -ms-linear-gradient(white 0, #eeeeee 100%);
  background-image: -o-linear-gradient(white 0, #eeeeee 100%);
  background-image: linear-gradient(white 0, #eeeeee 100%);
  text-shadow: 0 1px 0 rgba(255,255,255,1);
  border-color: #e6e6e6;
  color: #333333;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  ._unclickable_.-btn-flat {
    background-image: -webkit-linear-gradient(white 0, #eeeeee 100%) !important;
    background-image: -moz-linear-gradient(white 0, #eeeeee 100%) !important;
    background-image: -ms-linear-gradient(white 0, #eeeeee 100%) !important;
    background-image: -o-linear-gradient(white 0, #eeeeee 100%) !important;
    background-image: linear-gradient(white 0, #eeeeee 100%) !important; }
  .-btn-flat:active {
    background-image: -webkit-linear-gradient(#eeeeee 0, #e2e2e2 100%);
    background-image: -moz-linear-gradient(#eeeeee 0, #e2e2e2 100%);
    background-image: -ms-linear-gradient(#eeeeee 0, #e2e2e2 100%);
    background-image: -o-linear-gradient(#eeeeee 0, #e2e2e2 100%);
    background-image: linear-gradient(#eeeeee 0, #e2e2e2 100%); }
    .-btn-flat:active._loading_ {
      -webkit-background-size: 52px 52px;
      -moz-background-size: 52px 52px;
      -ms-background-size: 52px 52px;
      -o-background-size: 52px 52px;
      background-size: 52px 52px;
      background-image: -webkit-linear-gradient(-45deg, #eeeeee 25%, #fbfbfb 25%, #fbfbfb 50%, #eeeeee 50%, #eeeeee 75%, #fbfbfb 75%, #fbfbfb);
      background-image: -moz-linear-gradient(-45deg, #eeeeee 25%, #fbfbfb 25%, #fbfbfb 50%, #eeeeee 50%, #eeeeee 75%, #fbfbfb 75%, #fbfbfb);
      background-image: -ms-linear-gradient(-45deg, #eeeeee 25%, #fbfbfb 25%, #fbfbfb 50%, #eeeeee 50%, #eeeeee 75%, #fbfbfb 75%, #fbfbfb);
      background-image: -o-linear-gradient(-45deg, #eeeeee 25%, #fbfbfb 25%, #fbfbfb 50%, #eeeeee 50%, #eeeeee 75%, #fbfbfb 75%, #fbfbfb);
      background-image: linear-gradient(-45deg, #eeeeee 25%, #fbfbfb 25%, #fbfbfb 50%, #eeeeee 50%, #eeeeee 75%, #fbfbfb 75%, #fbfbfb);
      -webkit-animation: move 2s linear infinite;
      -moz-animation: move 2s linear infinite;
      animation: move 2s linear infinite; }
  ._active_.-btn-flat {
    background-image: -webkit-linear-gradient(#eeeeee 0, #e2e2e2 100%);
    background-image: -moz-linear-gradient(#eeeeee 0, #e2e2e2 100%);
    background-image: -ms-linear-gradient(#eeeeee 0, #e2e2e2 100%);
    background-image: -o-linear-gradient(#eeeeee 0, #e2e2e2 100%);
    background-image: linear-gradient(#eeeeee 0, #e2e2e2 100%); }
    ._active_._unclickable_.-btn-flat {
      background-image: -webkit-linear-gradient(#eeeeee 0, #e2e2e2 100%) !important;
      background-image: -moz-linear-gradient(#eeeeee 0, #e2e2e2 100%) !important;
      background-image: -ms-linear-gradient(#eeeeee 0, #e2e2e2 100%) !important;
      background-image: -o-linear-gradient(#eeeeee 0, #e2e2e2 100%) !important;
      background-image: linear-gradient(#eeeeee 0, #e2e2e2 100%) !important; }
    ._active_._loading_.-btn-flat {
      -webkit-background-size: 52px 52px;
      -moz-background-size: 52px 52px;
      -ms-background-size: 52px 52px;
      -o-background-size: 52px 52px;
      background-size: 52px 52px;
      background-image: -webkit-linear-gradient(-45deg, #eeeeee 25%, #fbfbfb 25%, #fbfbfb 50%, #eeeeee 50%, #eeeeee 75%, #fbfbfb 75%, #fbfbfb);
      background-image: -moz-linear-gradient(-45deg, #eeeeee 25%, #fbfbfb 25%, #fbfbfb 50%, #eeeeee 50%, #eeeeee 75%, #fbfbfb 75%, #fbfbfb);
      background-image: -ms-linear-gradient(-45deg, #eeeeee 25%, #fbfbfb 25%, #fbfbfb 50%, #eeeeee 50%, #eeeeee 75%, #fbfbfb 75%, #fbfbfb);
      background-image: -o-linear-gradient(-45deg, #eeeeee 25%, #fbfbfb 25%, #fbfbfb 50%, #eeeeee 50%, #eeeeee 75%, #fbfbfb 75%, #fbfbfb);
      background-image: linear-gradient(-45deg, #eeeeee 25%, #fbfbfb 25%, #fbfbfb 50%, #eeeeee 50%, #eeeeee 75%, #fbfbfb 75%, #fbfbfb);
      -webkit-animation: move 2s linear infinite;
      -moz-animation: move 2s linear infinite;
      animation: move 2s linear infinite; }
  ._loading_.-btn-flat {
    -webkit-background-size: 52px 52px;
    -moz-background-size: 52px 52px;
    -ms-background-size: 52px 52px;
    -o-background-size: 52px 52px;
    background-size: 52px 52px;
    background-image: -webkit-linear-gradient(-45deg, #eeeeee 25%, white 25%, white 50%, #eeeeee 50%, #eeeeee 75%, white 75%, white);
    background-image: -moz-linear-gradient(-45deg, #eeeeee 25%, white 25%, white 50%, #eeeeee 50%, #eeeeee 75%, white 75%, white);
    background-image: -ms-linear-gradient(-45deg, #eeeeee 25%, white 25%, white 50%, #eeeeee 50%, #eeeeee 75%, white 75%, white);
    background-image: -o-linear-gradient(-45deg, #eeeeee 25%, white 25%, white 50%, #eeeeee 50%, #eeeeee 75%, white 75%, white);
    background-image: linear-gradient(-45deg, #eeeeee 25%, white 25%, white 50%, #eeeeee 50%, #eeeeee 75%, white 75%, white);
    -webkit-animation: move 2s linear infinite;
    -moz-animation: move 2s linear infinite;
    animation: move 2s linear infinite; }
  ._unstyled_.-btn-flat {
    background: none !important;
    color: #333333;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    text-decoration: underline; }
    ._unstyled_.-btn-flat:active, ._unstyled_.-btn-flat:hover {
      text-decoration: none; }

.-btn-flat.-disabled- {
  background-image: -webkit-linear-gradient(#f3f3f3 0, #f3f3f3 100%);
  background-image: -moz-linear-gradient(#f3f3f3 0, #f3f3f3 100%);
  background-image: -ms-linear-gradient(#f3f3f3 0, #f3f3f3 100%);
  background-image: -o-linear-gradient(#f3f3f3 0, #f3f3f3 100%);
  background-image: linear-gradient(#f3f3f3 0, #f3f3f3 100%);
  text-shadow: none;
  border-color: #d9d9d9;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none !important;
  background: #f3f3f3 !important;
  border-color: #d9d9d9 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  color: #dddddd !important;
  cursor: default !important;
  text-decoration: none !important; }
  ._unclickable_.-btn-flat.-disabled- {
    background-image: -webkit-linear-gradient(#f3f3f3 0, #f3f3f3 100%) !important;
    background-image: -moz-linear-gradient(#f3f3f3 0, #f3f3f3 100%) !important;
    background-image: -ms-linear-gradient(#f3f3f3 0, #f3f3f3 100%) !important;
    background-image: -o-linear-gradient(#f3f3f3 0, #f3f3f3 100%) !important;
    background-image: linear-gradient(#f3f3f3 0, #f3f3f3 100%) !important; }
  .-btn-flat.-disabled-:active {
    background-image: -webkit-linear-gradient(#f3f3f3 0, #f3f3f3 100%);
    background-image: -moz-linear-gradient(#f3f3f3 0, #f3f3f3 100%);
    background-image: -ms-linear-gradient(#f3f3f3 0, #f3f3f3 100%);
    background-image: -o-linear-gradient(#f3f3f3 0, #f3f3f3 100%);
    background-image: linear-gradient(#f3f3f3 0, #f3f3f3 100%); }
    .-btn-flat.-disabled-:active._loading_ {
      -webkit-background-size: 52px 52px;
      -moz-background-size: 52px 52px;
      -ms-background-size: 52px 52px;
      -o-background-size: 52px 52px;
      background-size: 52px 52px;
      background-image: -webkit-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
      background-image: -moz-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
      background-image: -ms-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
      background-image: -o-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
      background-image: linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
      -webkit-animation: move 2s linear infinite;
      -moz-animation: move 2s linear infinite;
      animation: move 2s linear infinite; }
  ._active_.-btn-flat.-disabled- {
    background-image: -webkit-linear-gradient(#f3f3f3 0, #f3f3f3 100%);
    background-image: -moz-linear-gradient(#f3f3f3 0, #f3f3f3 100%);
    background-image: -ms-linear-gradient(#f3f3f3 0, #f3f3f3 100%);
    background-image: -o-linear-gradient(#f3f3f3 0, #f3f3f3 100%);
    background-image: linear-gradient(#f3f3f3 0, #f3f3f3 100%); }
    ._active_._unclickable_.-btn-flat.-disabled- {
      background-image: -webkit-linear-gradient(#f3f3f3 0, #f3f3f3 100%) !important;
      background-image: -moz-linear-gradient(#f3f3f3 0, #f3f3f3 100%) !important;
      background-image: -ms-linear-gradient(#f3f3f3 0, #f3f3f3 100%) !important;
      background-image: -o-linear-gradient(#f3f3f3 0, #f3f3f3 100%) !important;
      background-image: linear-gradient(#f3f3f3 0, #f3f3f3 100%) !important; }
    ._active_._loading_.-btn-flat.-disabled- {
      -webkit-background-size: 52px 52px;
      -moz-background-size: 52px 52px;
      -ms-background-size: 52px 52px;
      -o-background-size: 52px 52px;
      background-size: 52px 52px;
      background-image: -webkit-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
      background-image: -moz-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
      background-image: -ms-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
      background-image: -o-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
      background-image: linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
      -webkit-animation: move 2s linear infinite;
      -moz-animation: move 2s linear infinite;
      animation: move 2s linear infinite; }
  ._loading_.-btn-flat.-disabled- {
    -webkit-background-size: 52px 52px;
    -moz-background-size: 52px 52px;
    -ms-background-size: 52px 52px;
    -o-background-size: 52px 52px;
    background-size: 52px 52px;
    background-image: -webkit-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
    background-image: -moz-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
    background-image: -ms-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
    background-image: -o-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
    background-image: linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
    -webkit-animation: move 2s linear infinite;
    -moz-animation: move 2s linear infinite;
    animation: move 2s linear infinite; }
  ._unstyled_.-btn-flat.-disabled- {
    background: none !important;
    color: #f3f3f3;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    text-decoration: underline; }
    ._unstyled_.-btn-flat.-disabled-:active, ._unstyled_.-btn-flat.-disabled-:hover {
      text-decoration: none; }

.-btn-flat.-primary- {
  background-image: -webkit-linear-gradient(#3da0e7 0, #156ba9 100%);
  background-image: -moz-linear-gradient(#3da0e7 0, #156ba9 100%);
  background-image: -ms-linear-gradient(#3da0e7 0, #156ba9 100%);
  background-image: -o-linear-gradient(#3da0e7 0, #156ba9 100%);
  background-image: linear-gradient(#3da0e7 0, #156ba9 100%);
  text-shadow: 0 -1px rgba(0,0,0,.3);
  border-color: #1b88d6;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  ._unclickable_.-btn-flat.-primary- {
    background-image: -webkit-linear-gradient(#3da0e7 0, #156ba9 100%) !important;
    background-image: -moz-linear-gradient(#3da0e7 0, #156ba9 100%) !important;
    background-image: -ms-linear-gradient(#3da0e7 0, #156ba9 100%) !important;
    background-image: -o-linear-gradient(#3da0e7 0, #156ba9 100%) !important;
    background-image: linear-gradient(#3da0e7 0, #156ba9 100%) !important; }
  .-btn-flat.-primary-:active {
    background-image: -webkit-linear-gradient(#156ba9 0, #104e7b 100%);
    background-image: -moz-linear-gradient(#156ba9 0, #104e7b 100%);
    background-image: -ms-linear-gradient(#156ba9 0, #104e7b 100%);
    background-image: -o-linear-gradient(#156ba9 0, #104e7b 100%);
    background-image: linear-gradient(#156ba9 0, #104e7b 100%); }
    .-btn-flat.-primary-:active._loading_ {
      -webkit-background-size: 52px 52px;
      -moz-background-size: 52px 52px;
      -ms-background-size: 52px 52px;
      -o-background-size: 52px 52px;
      background-size: 52px 52px;
      background-image: -webkit-linear-gradient(-45deg, #156ba9 25%, #1b88d6 25%, #1b88d6 50%, #156ba9 50%, #156ba9 75%, #1b88d6 75%, #1b88d6);
      background-image: -moz-linear-gradient(-45deg, #156ba9 25%, #1b88d6 25%, #1b88d6 50%, #156ba9 50%, #156ba9 75%, #1b88d6 75%, #1b88d6);
      background-image: -ms-linear-gradient(-45deg, #156ba9 25%, #1b88d6 25%, #1b88d6 50%, #156ba9 50%, #156ba9 75%, #1b88d6 75%, #1b88d6);
      background-image: -o-linear-gradient(-45deg, #156ba9 25%, #1b88d6 25%, #1b88d6 50%, #156ba9 50%, #156ba9 75%, #1b88d6 75%, #1b88d6);
      background-image: linear-gradient(-45deg, #156ba9 25%, #1b88d6 25%, #1b88d6 50%, #156ba9 50%, #156ba9 75%, #1b88d6 75%, #1b88d6);
      -webkit-animation: move 2s linear infinite;
      -moz-animation: move 2s linear infinite;
      animation: move 2s linear infinite; }
  ._active_.-btn-flat.-primary- {
    background-image: -webkit-linear-gradient(#156ba9 0, #104e7b 100%);
    background-image: -moz-linear-gradient(#156ba9 0, #104e7b 100%);
    background-image: -ms-linear-gradient(#156ba9 0, #104e7b 100%);
    background-image: -o-linear-gradient(#156ba9 0, #104e7b 100%);
    background-image: linear-gradient(#156ba9 0, #104e7b 100%); }
    ._active_._unclickable_.-btn-flat.-primary- {
      background-image: -webkit-linear-gradient(#156ba9 0, #104e7b 100%) !important;
      background-image: -moz-linear-gradient(#156ba9 0, #104e7b 100%) !important;
      background-image: -ms-linear-gradient(#156ba9 0, #104e7b 100%) !important;
      background-image: -o-linear-gradient(#156ba9 0, #104e7b 100%) !important;
      background-image: linear-gradient(#156ba9 0, #104e7b 100%) !important; }
    ._active_._loading_.-btn-flat.-primary- {
      -webkit-background-size: 52px 52px;
      -moz-background-size: 52px 52px;
      -ms-background-size: 52px 52px;
      -o-background-size: 52px 52px;
      background-size: 52px 52px;
      background-image: -webkit-linear-gradient(-45deg, #156ba9 25%, #1b88d6 25%, #1b88d6 50%, #156ba9 50%, #156ba9 75%, #1b88d6 75%, #1b88d6);
      background-image: -moz-linear-gradient(-45deg, #156ba9 25%, #1b88d6 25%, #1b88d6 50%, #156ba9 50%, #156ba9 75%, #1b88d6 75%, #1b88d6);
      background-image: -ms-linear-gradient(-45deg, #156ba9 25%, #1b88d6 25%, #1b88d6 50%, #156ba9 50%, #156ba9 75%, #1b88d6 75%, #1b88d6);
      background-image: -o-linear-gradient(-45deg, #156ba9 25%, #1b88d6 25%, #1b88d6 50%, #156ba9 50%, #156ba9 75%, #1b88d6 75%, #1b88d6);
      background-image: linear-gradient(-45deg, #156ba9 25%, #1b88d6 25%, #1b88d6 50%, #156ba9 50%, #156ba9 75%, #1b88d6 75%, #1b88d6);
      -webkit-animation: move 2s linear infinite;
      -moz-animation: move 2s linear infinite;
      animation: move 2s linear infinite; }
  ._loading_.-btn-flat.-primary- {
    -webkit-background-size: 52px 52px;
    -moz-background-size: 52px 52px;
    -ms-background-size: 52px 52px;
    -o-background-size: 52px 52px;
    background-size: 52px 52px;
    background-image: -webkit-linear-gradient(-45deg, #156ba9 25%, #3da0e7 25%, #3da0e7 50%, #156ba9 50%, #156ba9 75%, #3da0e7 75%, #3da0e7);
    background-image: -moz-linear-gradient(-45deg, #156ba9 25%, #3da0e7 25%, #3da0e7 50%, #156ba9 50%, #156ba9 75%, #3da0e7 75%, #3da0e7);
    background-image: -ms-linear-gradient(-45deg, #156ba9 25%, #3da0e7 25%, #3da0e7 50%, #156ba9 50%, #156ba9 75%, #3da0e7 75%, #3da0e7);
    background-image: -o-linear-gradient(-45deg, #156ba9 25%, #3da0e7 25%, #3da0e7 50%, #156ba9 50%, #156ba9 75%, #3da0e7 75%, #3da0e7);
    background-image: linear-gradient(-45deg, #156ba9 25%, #3da0e7 25%, #3da0e7 50%, #156ba9 50%, #156ba9 75%, #3da0e7 75%, #3da0e7);
    -webkit-animation: move 2s linear infinite;
    -moz-animation: move 2s linear infinite;
    animation: move 2s linear infinite; }
  ._unstyled_.-btn-flat.-primary- {
    background: none !important;
    color: #1b88d6;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    text-decoration: underline; }
    ._unstyled_.-btn-flat.-primary-:active, ._unstyled_.-btn-flat.-primary-:hover {
      text-decoration: none; }

.-btn-flat {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important; }
