* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.-container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .-container:after {
    content: "";
    display: table;
    clear: both; }

.-row {
  display: block; }
  .-row:after {
    content: "";
    display: table;
    clear: both; }

.-col1 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 6.17215%; }
  .-col1:last-child {
    margin-right: 0; }

.-offset1 {
  margin-left: 8.5298%; }

.-col2 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 14.70196%; }
  .-col2:last-child {
    margin-right: 0; }

.-offset2 {
  margin-left: 17.05961%; }

.-col3 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .-col3:last-child {
    margin-right: 0; }

.-offset3 {
  margin-left: 25.58941%; }

.-col4 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .-col4:last-child {
    margin-right: 0; }

.-offset4 {
  margin-left: 34.11922%; }

.-col5 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 40.29137%; }
  .-col5:last-child {
    margin-right: 0; }

.-offset5 {
  margin-left: 42.64902%; }

.-col6 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .-col6:last-child {
    margin-right: 0; }

.-offset6 {
  margin-left: 51.17883%; }

.-col7 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 57.35098%; }
  .-col7:last-child {
    margin-right: 0; }

.-offset7 {
  margin-left: 59.70863%; }

.-col8 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .-col8:last-child {
    margin-right: 0; }

.-offset8 {
  margin-left: 68.23843%; }

.-col9 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 74.41059%; }
  .-col9:last-child {
    margin-right: 0; }

.-offset9 {
  margin-left: 76.76824%; }

.-col10 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 82.94039%; }
  .-col10:last-child {
    margin-right: 0; }

.-offset10 {
  margin-left: 85.29804%; }

.-col11 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 91.4702%; }
  .-col11:last-child {
    margin-right: 0; }

.-offset11 {
  margin-left: 93.82785%; }

.-col12 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%; }
  .-col12:last-child {
    margin-right: 0; }

.-offset12 {
  margin-left: 102.35765%; }
