@-webkit-keyframes move {
  from {
    background-position: 0 0; }

  to {
    background-position: 52px 52px; } }

@-moz-keyframes move {
  from {
    background-position: 0 0; }

  to {
    background-position: 52px 52px; } }

@-ms-keyframes move {
  from {
    background-position: 0 0; }

  to {
    background-position: 52px 52px; } }

@-o-keyframes move {
  from {
    background-position: 0 0; }

  to {
    background-position: 52px 52px; } }

@keyframes move {
  from {
    background-position: 0 0; }

  to {
    background-position: 52px 52px; } }

.-tabs,
.-tabs li > a, .-tabs .-caret {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: inline-block;
  outline: none;
  vertical-align: middle; }

.-tabs,
.-tabs li > a, .-tabs .-caret {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: inline-block;
  outline: none;
  vertical-align: middle; }

.-tabs,
.-tabs li > a {
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.-tabs {
  list-style: none;
  margin: 0;
  border-bottom: 1px solid transparent;
  vertical-align: bottom; }
  .-tabs li {
    display: inline-block; }
  .-tabs li > a {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 3px 3px 0 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer; }
  .-tabs li._active_ a {
    cursor: inherit;
    margin-bottom: -2px; }
  .-tabs._small li > a {
    padding: 3px 5px;
    font-size: 11px; }
    .-tabs._small li > a .-caret {
      height: 0;
      width: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 3.23529px;
      border-top-color: rgba(0, 0, 0, 0.5);
      border-bottom-width: 0 !important; }
  .-tabs._small li._active_ > a .-caret {
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 3.23529px;
    border-bottom-color: rgba(0, 0, 0, 0.5);
    border-top-width: 0 !important;
    border-bottom-width: 3.23529px !important; }
  .-tabs li > a {
    padding: 6px 10px;
    font-size: 14px; }
    .-tabs li > a .-caret {
      height: 0;
      width: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 4.11765px;
      border-top-color: rgba(0, 0, 0, 0.5);
      border-bottom-width: 0 !important; }
  .-tabs li._active_ > a .-caret {
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 4.11765px;
    border-bottom-color: rgba(0, 0, 0, 0.5);
    border-top-width: 0 !important;
    border-bottom-width: 4.11765px !important; }
  .-tabs._big li > a {
    padding: 13px 13px;
    font-size: 23px; }
    .-tabs._big li > a .-caret {
      height: 0;
      width: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 6.76471px;
      border-top-color: rgba(0, 0, 0, 0.5);
      border-bottom-width: 0 !important; }
  .-tabs._big li._active_ > a .-caret {
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 6.76471px;
    border-bottom-color: rgba(0, 0, 0, 0.5);
    border-top-width: 0 !important;
    border-bottom-width: 6.76471px !important; }
  .-tabs._huge li > a {
    padding: 22px 16px;
    font-size: 37px; }
    .-tabs._huge li > a .-caret {
      height: 0;
      width: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 10.88235px;
      border-top-color: rgba(0, 0, 0, 0.5);
      border-bottom-width: 0 !important; }
  .-tabs._huge li._active_ > a .-caret {
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 10.88235px;
    border-bottom-color: rgba(0, 0, 0, 0.5);
    border-top-width: 0 !important;
    border-bottom-width: 10.88235px !important; }

.-tabs {
  border-bottom-color: #e6e6e6;
  color: #333333; }
  .-tabs li:hover a {
    background-color: #fbfbfb;
    color: #333333; }
  .-tabs li:active a {
    background-color: #eeeeee;
    color: #333333; }
  .-tabs li._hover_ a {
    background-color: #fbfbfb !important;
    color: #333333 !important; }
  .-tabs li._active_ a {
    border-color: #e6e6e6 #e6e6e6 transparent #e6e6e6 !important;
    background-color: #eeeeee !important;
    color: #333333 !important; }
  .-tabs li._loading_ a {
    -webkit-background-size: 52px 52px;
    -moz-background-size: 52px 52px;
    -ms-background-size: 52px 52px;
    -o-background-size: 52px 52px;
    background-size: 52px 52px;
    background-image: -webkit-linear-gradient(-45deg, #eeeeee 25%, white 25%, white 50%, #eeeeee 50%, #eeeeee 75%, white 75%, white);
    background-image: -moz-linear-gradient(-45deg, #eeeeee 25%, white 25%, white 50%, #eeeeee 50%, #eeeeee 75%, white 75%, white);
    background-image: -ms-linear-gradient(-45deg, #eeeeee 25%, white 25%, white 50%, #eeeeee 50%, #eeeeee 75%, white 75%, white);
    background-image: -o-linear-gradient(-45deg, #eeeeee 25%, white 25%, white 50%, #eeeeee 50%, #eeeeee 75%, white 75%, white);
    background-image: linear-gradient(-45deg, #eeeeee 25%, white 25%, white 50%, #eeeeee 50%, #eeeeee 75%, white 75%, white);
    -webkit-animation: move 2s linear infinite;
    -moz-animation: move 2s linear infinite;
    animation: move 2s linear infinite; }

.-tabs.-disabled- {
  border-bottom-color: #d9d9d9;
  color: #cccccc; }
  .-tabs.-disabled- li:hover a {
    background-color: #f3f3f3;
    color: white; }
  .-tabs.-disabled- li:active a {
    background-color: #f3f3f3;
    color: white; }
  .-tabs.-disabled- li._hover_ a {
    background-color: #f3f3f3 !important;
    color: white !important; }
  .-tabs.-disabled- li._active_ a {
    border-color: #d9d9d9 #d9d9d9 transparent #d9d9d9 !important;
    background-color: #f3f3f3 !important;
    color: white !important; }
  .-tabs.-disabled- li._loading_ a {
    -webkit-background-size: 52px 52px;
    -moz-background-size: 52px 52px;
    -ms-background-size: 52px 52px;
    -o-background-size: 52px 52px;
    background-size: 52px 52px;
    background-image: -webkit-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
    background-image: -moz-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
    background-image: -ms-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
    background-image: -o-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
    background-image: linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
    -webkit-animation: move 2s linear infinite;
    -moz-animation: move 2s linear infinite;
    animation: move 2s linear infinite; }

.-tabs li.-disabled- {
  color: #cccccc; }
  .-tabs li.-disabled-:hover a {
    background-color: #f3f3f3;
    color: white; }
  .-tabs li.-disabled-:active a {
    background-color: #f3f3f3;
    color: white; }
  .-tabs li.-disabled-._hover_ a {
    background-color: #f3f3f3 !important;
    color: white !important; }
  .-tabs li.-disabled-._active_ a {
    border-color: #d9d9d9 #d9d9d9 transparent #d9d9d9 !important;
    background-color: #f3f3f3 !important;
    color: white !important; }
  .-tabs li.-disabled-._loading_ a {
    -webkit-background-size: 52px 52px;
    -moz-background-size: 52px 52px;
    -ms-background-size: 52px 52px;
    -o-background-size: 52px 52px;
    background-size: 52px 52px;
    background-image: -webkit-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
    background-image: -moz-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
    background-image: -ms-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
    background-image: -o-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
    background-image: linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
    -webkit-animation: move 2s linear infinite;
    -moz-animation: move 2s linear infinite;
    animation: move 2s linear infinite; }

.-tabs.-primary- {
  border-bottom-color: #187abf;
  color: #1b88d6; }
  .-tabs.-primary- li:hover a {
    background-color: #1b88d6;
    color: white; }
  .-tabs.-primary- li:active a {
    background-color: #156ba9;
    color: white; }
  .-tabs.-primary- li._hover_ a {
    background-color: #1b88d6 !important;
    color: white !important; }
  .-tabs.-primary- li._active_ a {
    border-color: #187abf #187abf transparent #187abf !important;
    background-color: #156ba9 !important;
    color: white !important; }
  .-tabs.-primary- li._loading_ a {
    -webkit-background-size: 52px 52px;
    -moz-background-size: 52px 52px;
    -ms-background-size: 52px 52px;
    -o-background-size: 52px 52px;
    background-size: 52px 52px;
    background-image: -webkit-linear-gradient(-45deg, #156ba9 25%, #3da0e7 25%, #3da0e7 50%, #156ba9 50%, #156ba9 75%, #3da0e7 75%, #3da0e7);
    background-image: -moz-linear-gradient(-45deg, #156ba9 25%, #3da0e7 25%, #3da0e7 50%, #156ba9 50%, #156ba9 75%, #3da0e7 75%, #3da0e7);
    background-image: -ms-linear-gradient(-45deg, #156ba9 25%, #3da0e7 25%, #3da0e7 50%, #156ba9 50%, #156ba9 75%, #3da0e7 75%, #3da0e7);
    background-image: -o-linear-gradient(-45deg, #156ba9 25%, #3da0e7 25%, #3da0e7 50%, #156ba9 50%, #156ba9 75%, #3da0e7 75%, #3da0e7);
    background-image: linear-gradient(-45deg, #156ba9 25%, #3da0e7 25%, #3da0e7 50%, #156ba9 50%, #156ba9 75%, #3da0e7 75%, #3da0e7);
    -webkit-animation: move 2s linear infinite;
    -moz-animation: move 2s linear infinite;
    animation: move 2s linear infinite; }

.-tabs li.-primary- {
  color: #1b88d6; }
  .-tabs li.-primary-:hover a {
    background-color: #1b88d6;
    color: white; }
  .-tabs li.-primary-:active a {
    background-color: #156ba9;
    color: white; }
  .-tabs li.-primary-._hover_ a {
    background-color: #1b88d6 !important;
    color: white !important; }
  .-tabs li.-primary-._active_ a {
    border-color: #187abf #187abf transparent #187abf !important;
    background-color: #156ba9 !important;
    color: white !important; }
  .-tabs li.-primary-._loading_ a {
    -webkit-background-size: 52px 52px;
    -moz-background-size: 52px 52px;
    -ms-background-size: 52px 52px;
    -o-background-size: 52px 52px;
    background-size: 52px 52px;
    background-image: -webkit-linear-gradient(-45deg, #156ba9 25%, #3da0e7 25%, #3da0e7 50%, #156ba9 50%, #156ba9 75%, #3da0e7 75%, #3da0e7);
    background-image: -moz-linear-gradient(-45deg, #156ba9 25%, #3da0e7 25%, #3da0e7 50%, #156ba9 50%, #156ba9 75%, #3da0e7 75%, #3da0e7);
    background-image: -ms-linear-gradient(-45deg, #156ba9 25%, #3da0e7 25%, #3da0e7 50%, #156ba9 50%, #156ba9 75%, #3da0e7 75%, #3da0e7);
    background-image: -o-linear-gradient(-45deg, #156ba9 25%, #3da0e7 25%, #3da0e7 50%, #156ba9 50%, #156ba9 75%, #3da0e7 75%, #3da0e7);
    background-image: linear-gradient(-45deg, #156ba9 25%, #3da0e7 25%, #3da0e7 50%, #156ba9 50%, #156ba9 75%, #3da0e7 75%, #3da0e7);
    -webkit-animation: move 2s linear infinite;
    -moz-animation: move 2s linear infinite;
    animation: move 2s linear infinite; }
