@-webkit-keyframes move {
  from {
    background-position: 0 0; }

  to {
    background-position: 52px 52px; } }

@-moz-keyframes move {
  from {
    background-position: 0 0; }

  to {
    background-position: 52px 52px; } }

@-ms-keyframes move {
  from {
    background-position: 0 0; }

  to {
    background-position: 52px 52px; } }

@-o-keyframes move {
  from {
    background-position: 0 0; }

  to {
    background-position: 52px 52px; } }

@keyframes move {
  from {
    background-position: 0 0; }

  to {
    background-position: 52px 52px; } }

.-btn, input[type="button"], input[type="submit"], input[type="reset"], .-btn .-caret, input[type="button"] .-caret, input[type="submit"] .-caret, input[type="reset"] .-caret, .-btn.-disabled- .-caret, input[type="button"].-disabled- .-caret, input[type="submit"].-disabled- .-caret, input[type="reset"].-disabled- .-caret, .-btn.-primary- .-caret, input[type="button"].-primary- .-caret, input[type="submit"].-primary- .-caret, input[type="reset"].-primary- .-caret {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: inline-block;
  outline: none;
  vertical-align: middle; }

.-btn, input[type="button"], input[type="submit"], input[type="reset"] {
  border-width: 0;
  cursor: pointer;
  text-decoration: none;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.-btn, input[type="button"], input[type="submit"], input[type="reset"] {
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.05); }
  ._unclickable_.-btn, input._unclickable_[type="button"], input._unclickable_[type="submit"], input._unclickable_[type="reset"] {
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.05) !important;
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.05) !important;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.05) !important; }
  .-btn:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), -1px 1px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), -1px 1px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), -1px 1px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1); }
  ._hover_.-btn, input._hover_[type="button"], input._hover_[type="submit"], input._hover_[type="reset"] {
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), -1px 1px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1) !important;
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), -1px 1px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1) !important;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), -1px 1px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1) !important; }
    ._hover_._unclickable_.-btn, input._hover_._unclickable_[type="button"], input._hover_._unclickable_[type="submit"], input._hover_._unclickable_[type="reset"] {
      -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), -1px 1px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1) !important;
      -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), -1px 1px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1) !important;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), -1px 1px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1) !important; }
  .-btn:active, input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), inset 0 -15px 15px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), inset 0 -15px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), inset 0 -15px 15px rgba(0, 0, 0, 0.1); }
  ._active_.-btn, input._active_[type="button"], input._active_[type="submit"], input._active_[type="reset"] {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), inset 0 -15px 15px rgba(0, 0, 0, 0.1) !important;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), inset 0 -15px 15px rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), inset 0 -15px 15px rgba(0, 0, 0, 0.1) !important; }
    ._active_._unclickable_.-btn, input._active_._unclickable_[type="button"], input._active_._unclickable_[type="submit"], input._active_._unclickable_[type="reset"] {
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), inset 0 -15px 15px rgba(0, 0, 0, 0.1) !important;
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), inset 0 -15px 15px rgba(0, 0, 0, 0.1) !important;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), inset 0 -15px 15px rgba(0, 0, 0, 0.1) !important; }

.-btn, input[type="button"], input[type="submit"], input[type="reset"] {
  padding: 6px 10px;
  font-size: 14px;
  line-height: 14px; }
  .-btn._small, input[type="button"]._small, input[type="submit"]._small, input[type="reset"]._small {
    padding: 3px 5px;
    font-size: 11px;
    line-height: 11px; }
    .-btn._small .-caret, input[type="button"]._small .-caret, input[type="submit"]._small .-caret, input[type="reset"]._small .-caret {
      height: 0;
      width: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 3.23529px;
      border-top-color: rgba(0, 0, 0, 0.5);
      border-bottom-width: 0 !important; }
    .-btn._small._active_ .-caret, input[type="button"]._small._active_ .-caret, input[type="submit"]._small._active_ .-caret, input[type="reset"]._small._active_ .-caret {
      height: 0;
      width: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 3.23529px;
      border-bottom-color: rgba(0, 0, 0, 0.5);
      border-top-width: 0 !important;
      border-bottom-width: 3.23529px !important; }
  .-btn .-caret, input[type="button"] .-caret, input[type="submit"] .-caret, input[type="reset"] .-caret {
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 4.11765px;
    border-top-color: rgba(0, 0, 0, 0.5);
    border-bottom-width: 0 !important; }
  .-btn._active_ .-caret, input[type="button"]._active_ .-caret, input[type="submit"]._active_ .-caret, input[type="reset"]._active_ .-caret {
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 4.11765px;
    border-bottom-color: rgba(0, 0, 0, 0.5);
    border-top-width: 0 !important;
    border-bottom-width: 4.11765px !important; }
  .-btn._big, input[type="button"]._big, input[type="submit"]._big, input[type="reset"]._big {
    padding: 7px 13px;
    font-size: 23px;
    line-height: 23px; }
    .-btn._big .-caret, input[type="button"]._big .-caret, input[type="submit"]._big .-caret, input[type="reset"]._big .-caret {
      height: 0;
      width: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 6.76471px;
      border-top-color: rgba(0, 0, 0, 0.5);
      border-bottom-width: 0 !important; }
    .-btn._big._active_ .-caret, input[type="button"]._big._active_ .-caret, input[type="submit"]._big._active_ .-caret, input[type="reset"]._big._active_ .-caret {
      height: 0;
      width: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 6.76471px;
      border-bottom-color: rgba(0, 0, 0, 0.5);
      border-top-width: 0 !important;
      border-bottom-width: 6.76471px !important; }
  .-btn._huge, input[type="button"]._huge, input[type="submit"]._huge, input[type="reset"]._huge {
    padding: 10px 16px;
    font-size: 37px;
    line-height: 37px; }
    .-btn._huge .-caret, input[type="button"]._huge .-caret, input[type="submit"]._huge .-caret, input[type="reset"]._huge .-caret {
      height: 0;
      width: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 10.88235px;
      border-top-color: rgba(0, 0, 0, 0.5);
      border-bottom-width: 0 !important; }
    .-btn._huge._active_ .-caret, input[type="button"]._huge._active_ .-caret, input[type="submit"]._huge._active_ .-caret, input[type="reset"]._huge._active_ .-caret {
      height: 0;
      width: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 10.88235px;
      border-bottom-color: rgba(0, 0, 0, 0.5);
      border-top-width: 0 !important;
      border-bottom-width: 10.88235px !important; }

.-btn, input[type="button"], input[type="submit"], input[type="reset"] {
  background-image: -webkit-linear-gradient(white 0, #eeeeee 100%);
  background-image: -moz-linear-gradient(white 0, #eeeeee 100%);
  background-image: -ms-linear-gradient(white 0, #eeeeee 100%);
  background-image: -o-linear-gradient(white 0, #eeeeee 100%);
  background-image: linear-gradient(white 0, #eeeeee 100%);
  text-shadow: 0 1px 0 rgba(255,255,255,1);
  border-color: #e6e6e6;
  color: #333333;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .-btn._unclickable_, input[type="button"]._unclickable_, input[type="submit"]._unclickable_, input[type="reset"]._unclickable_ {
    background-image: -webkit-linear-gradient(white 0, #eeeeee 100%) !important;
    background-image: -moz-linear-gradient(white 0, #eeeeee 100%) !important;
    background-image: -ms-linear-gradient(white 0, #eeeeee 100%) !important;
    background-image: -o-linear-gradient(white 0, #eeeeee 100%) !important;
    background-image: linear-gradient(white 0, #eeeeee 100%) !important; }
  .-btn:active, input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active {
    background-image: -webkit-linear-gradient(#eeeeee 0, #e2e2e2 100%);
    background-image: -moz-linear-gradient(#eeeeee 0, #e2e2e2 100%);
    background-image: -ms-linear-gradient(#eeeeee 0, #e2e2e2 100%);
    background-image: -o-linear-gradient(#eeeeee 0, #e2e2e2 100%);
    background-image: linear-gradient(#eeeeee 0, #e2e2e2 100%); }
    .-btn:active._loading_, input[type="button"]:active._loading_, input[type="submit"]:active._loading_, input[type="reset"]:active._loading_ {
      -webkit-background-size: 52px 52px;
      -moz-background-size: 52px 52px;
      -ms-background-size: 52px 52px;
      -o-background-size: 52px 52px;
      background-size: 52px 52px;
      background-image: -webkit-linear-gradient(-45deg, #eeeeee 25%, #fbfbfb 25%, #fbfbfb 50%, #eeeeee 50%, #eeeeee 75%, #fbfbfb 75%, #fbfbfb);
      background-image: -moz-linear-gradient(-45deg, #eeeeee 25%, #fbfbfb 25%, #fbfbfb 50%, #eeeeee 50%, #eeeeee 75%, #fbfbfb 75%, #fbfbfb);
      background-image: -ms-linear-gradient(-45deg, #eeeeee 25%, #fbfbfb 25%, #fbfbfb 50%, #eeeeee 50%, #eeeeee 75%, #fbfbfb 75%, #fbfbfb);
      background-image: -o-linear-gradient(-45deg, #eeeeee 25%, #fbfbfb 25%, #fbfbfb 50%, #eeeeee 50%, #eeeeee 75%, #fbfbfb 75%, #fbfbfb);
      background-image: linear-gradient(-45deg, #eeeeee 25%, #fbfbfb 25%, #fbfbfb 50%, #eeeeee 50%, #eeeeee 75%, #fbfbfb 75%, #fbfbfb);
      -webkit-animation: move 2s linear infinite;
      -moz-animation: move 2s linear infinite;
      animation: move 2s linear infinite; }
  .-btn._active_, input[type="button"]._active_, input[type="submit"]._active_, input[type="reset"]._active_ {
    background-image: -webkit-linear-gradient(#eeeeee 0, #e2e2e2 100%);
    background-image: -moz-linear-gradient(#eeeeee 0, #e2e2e2 100%);
    background-image: -ms-linear-gradient(#eeeeee 0, #e2e2e2 100%);
    background-image: -o-linear-gradient(#eeeeee 0, #e2e2e2 100%);
    background-image: linear-gradient(#eeeeee 0, #e2e2e2 100%); }
    .-btn._active_._unclickable_, input[type="button"]._active_._unclickable_, input[type="submit"]._active_._unclickable_, input[type="reset"]._active_._unclickable_ {
      background-image: -webkit-linear-gradient(#eeeeee 0, #e2e2e2 100%) !important;
      background-image: -moz-linear-gradient(#eeeeee 0, #e2e2e2 100%) !important;
      background-image: -ms-linear-gradient(#eeeeee 0, #e2e2e2 100%) !important;
      background-image: -o-linear-gradient(#eeeeee 0, #e2e2e2 100%) !important;
      background-image: linear-gradient(#eeeeee 0, #e2e2e2 100%) !important; }
    .-btn._active_._loading_, input[type="button"]._active_._loading_, input[type="submit"]._active_._loading_, input[type="reset"]._active_._loading_ {
      -webkit-background-size: 52px 52px;
      -moz-background-size: 52px 52px;
      -ms-background-size: 52px 52px;
      -o-background-size: 52px 52px;
      background-size: 52px 52px;
      background-image: -webkit-linear-gradient(-45deg, #eeeeee 25%, #fbfbfb 25%, #fbfbfb 50%, #eeeeee 50%, #eeeeee 75%, #fbfbfb 75%, #fbfbfb);
      background-image: -moz-linear-gradient(-45deg, #eeeeee 25%, #fbfbfb 25%, #fbfbfb 50%, #eeeeee 50%, #eeeeee 75%, #fbfbfb 75%, #fbfbfb);
      background-image: -ms-linear-gradient(-45deg, #eeeeee 25%, #fbfbfb 25%, #fbfbfb 50%, #eeeeee 50%, #eeeeee 75%, #fbfbfb 75%, #fbfbfb);
      background-image: -o-linear-gradient(-45deg, #eeeeee 25%, #fbfbfb 25%, #fbfbfb 50%, #eeeeee 50%, #eeeeee 75%, #fbfbfb 75%, #fbfbfb);
      background-image: linear-gradient(-45deg, #eeeeee 25%, #fbfbfb 25%, #fbfbfb 50%, #eeeeee 50%, #eeeeee 75%, #fbfbfb 75%, #fbfbfb);
      -webkit-animation: move 2s linear infinite;
      -moz-animation: move 2s linear infinite;
      animation: move 2s linear infinite; }
  .-btn._loading_, input[type="button"]._loading_, input[type="submit"]._loading_, input[type="reset"]._loading_ {
    -webkit-background-size: 52px 52px;
    -moz-background-size: 52px 52px;
    -ms-background-size: 52px 52px;
    -o-background-size: 52px 52px;
    background-size: 52px 52px;
    background-image: -webkit-linear-gradient(-45deg, #eeeeee 25%, white 25%, white 50%, #eeeeee 50%, #eeeeee 75%, white 75%, white);
    background-image: -moz-linear-gradient(-45deg, #eeeeee 25%, white 25%, white 50%, #eeeeee 50%, #eeeeee 75%, white 75%, white);
    background-image: -ms-linear-gradient(-45deg, #eeeeee 25%, white 25%, white 50%, #eeeeee 50%, #eeeeee 75%, white 75%, white);
    background-image: -o-linear-gradient(-45deg, #eeeeee 25%, white 25%, white 50%, #eeeeee 50%, #eeeeee 75%, white 75%, white);
    background-image: linear-gradient(-45deg, #eeeeee 25%, white 25%, white 50%, #eeeeee 50%, #eeeeee 75%, white 75%, white);
    -webkit-animation: move 2s linear infinite;
    -moz-animation: move 2s linear infinite;
    animation: move 2s linear infinite; }
  .-btn._unstyled_, input[type="button"]._unstyled_, input[type="submit"]._unstyled_, input[type="reset"]._unstyled_ {
    background: none !important;
    color: #333333;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    text-decoration: underline; }
    .-btn._unstyled_:active, .-btn._unstyled_:hover, input[type="button"]._unstyled_:active, input[type="button"]._unstyled_:hover, input[type="submit"]._unstyled_:active, input[type="submit"]._unstyled_:hover, input[type="reset"]._unstyled_:active, input[type="reset"]._unstyled_:hover {
      text-decoration: none; }

.-btn.-disabled-, input[type="button"].-disabled-, input[type="submit"].-disabled-, input[type="reset"].-disabled- {
  background-image: -webkit-linear-gradient(#f3f3f3 0, #f3f3f3 100%);
  background-image: -moz-linear-gradient(#f3f3f3 0, #f3f3f3 100%);
  background-image: -ms-linear-gradient(#f3f3f3 0, #f3f3f3 100%);
  background-image: -o-linear-gradient(#f3f3f3 0, #f3f3f3 100%);
  background-image: linear-gradient(#f3f3f3 0, #f3f3f3 100%);
  text-shadow: none;
  border-color: #d9d9d9;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none !important;
  background: #f3f3f3 !important;
  border-color: #d9d9d9 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  color: #dddddd !important;
  cursor: default !important;
  text-decoration: none !important; }
  .-btn.-disabled-._unclickable_, input[type="button"].-disabled-._unclickable_, input[type="submit"].-disabled-._unclickable_, input[type="reset"].-disabled-._unclickable_ {
    background-image: -webkit-linear-gradient(#f3f3f3 0, #f3f3f3 100%) !important;
    background-image: -moz-linear-gradient(#f3f3f3 0, #f3f3f3 100%) !important;
    background-image: -ms-linear-gradient(#f3f3f3 0, #f3f3f3 100%) !important;
    background-image: -o-linear-gradient(#f3f3f3 0, #f3f3f3 100%) !important;
    background-image: linear-gradient(#f3f3f3 0, #f3f3f3 100%) !important; }
  .-btn.-disabled-:active, input[type="button"].-disabled-:active, input[type="submit"].-disabled-:active, input[type="reset"].-disabled-:active {
    background-image: -webkit-linear-gradient(#f3f3f3 0, #f3f3f3 100%);
    background-image: -moz-linear-gradient(#f3f3f3 0, #f3f3f3 100%);
    background-image: -ms-linear-gradient(#f3f3f3 0, #f3f3f3 100%);
    background-image: -o-linear-gradient(#f3f3f3 0, #f3f3f3 100%);
    background-image: linear-gradient(#f3f3f3 0, #f3f3f3 100%); }
    .-btn.-disabled-:active._loading_, input[type="button"].-disabled-:active._loading_, input[type="submit"].-disabled-:active._loading_, input[type="reset"].-disabled-:active._loading_ {
      -webkit-background-size: 52px 52px;
      -moz-background-size: 52px 52px;
      -ms-background-size: 52px 52px;
      -o-background-size: 52px 52px;
      background-size: 52px 52px;
      background-image: -webkit-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
      background-image: -moz-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
      background-image: -ms-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
      background-image: -o-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
      background-image: linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
      -webkit-animation: move 2s linear infinite;
      -moz-animation: move 2s linear infinite;
      animation: move 2s linear infinite; }
  .-btn.-disabled-._active_, input[type="button"].-disabled-._active_, input[type="submit"].-disabled-._active_, input[type="reset"].-disabled-._active_ {
    background-image: -webkit-linear-gradient(#f3f3f3 0, #f3f3f3 100%);
    background-image: -moz-linear-gradient(#f3f3f3 0, #f3f3f3 100%);
    background-image: -ms-linear-gradient(#f3f3f3 0, #f3f3f3 100%);
    background-image: -o-linear-gradient(#f3f3f3 0, #f3f3f3 100%);
    background-image: linear-gradient(#f3f3f3 0, #f3f3f3 100%); }
    .-btn.-disabled-._active_._unclickable_, input[type="button"].-disabled-._active_._unclickable_, input[type="submit"].-disabled-._active_._unclickable_, input[type="reset"].-disabled-._active_._unclickable_ {
      background-image: -webkit-linear-gradient(#f3f3f3 0, #f3f3f3 100%) !important;
      background-image: -moz-linear-gradient(#f3f3f3 0, #f3f3f3 100%) !important;
      background-image: -ms-linear-gradient(#f3f3f3 0, #f3f3f3 100%) !important;
      background-image: -o-linear-gradient(#f3f3f3 0, #f3f3f3 100%) !important;
      background-image: linear-gradient(#f3f3f3 0, #f3f3f3 100%) !important; }
    .-btn.-disabled-._active_._loading_, input[type="button"].-disabled-._active_._loading_, input[type="submit"].-disabled-._active_._loading_, input[type="reset"].-disabled-._active_._loading_ {
      -webkit-background-size: 52px 52px;
      -moz-background-size: 52px 52px;
      -ms-background-size: 52px 52px;
      -o-background-size: 52px 52px;
      background-size: 52px 52px;
      background-image: -webkit-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
      background-image: -moz-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
      background-image: -ms-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
      background-image: -o-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
      background-image: linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
      -webkit-animation: move 2s linear infinite;
      -moz-animation: move 2s linear infinite;
      animation: move 2s linear infinite; }
  .-btn.-disabled-._loading_, input[type="button"].-disabled-._loading_, input[type="submit"].-disabled-._loading_, input[type="reset"].-disabled-._loading_ {
    -webkit-background-size: 52px 52px;
    -moz-background-size: 52px 52px;
    -ms-background-size: 52px 52px;
    -o-background-size: 52px 52px;
    background-size: 52px 52px;
    background-image: -webkit-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
    background-image: -moz-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
    background-image: -ms-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
    background-image: -o-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
    background-image: linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
    -webkit-animation: move 2s linear infinite;
    -moz-animation: move 2s linear infinite;
    animation: move 2s linear infinite; }
  .-btn.-disabled-._unstyled_, input[type="button"].-disabled-._unstyled_, input[type="submit"].-disabled-._unstyled_, input[type="reset"].-disabled-._unstyled_ {
    background: none !important;
    color: #f3f3f3;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    text-decoration: underline; }
    .-btn.-disabled-._unstyled_:active, .-btn.-disabled-._unstyled_:hover, input[type="button"].-disabled-._unstyled_:active, input[type="button"].-disabled-._unstyled_:hover, input[type="submit"].-disabled-._unstyled_:active, input[type="submit"].-disabled-._unstyled_:hover, input[type="reset"].-disabled-._unstyled_:active, input[type="reset"].-disabled-._unstyled_:hover {
      text-decoration: none; }

.-btn.-primary-, input[type="button"].-primary-, input[type="submit"].-primary-, input[type="reset"].-primary- {
  background-image: -webkit-linear-gradient(#3da0e7 0, #156ba9 100%);
  background-image: -moz-linear-gradient(#3da0e7 0, #156ba9 100%);
  background-image: -ms-linear-gradient(#3da0e7 0, #156ba9 100%);
  background-image: -o-linear-gradient(#3da0e7 0, #156ba9 100%);
  background-image: linear-gradient(#3da0e7 0, #156ba9 100%);
  text-shadow: 0 -1px rgba(0,0,0,.3);
  border-color: #1b88d6;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .-btn.-primary-._unclickable_, input[type="button"].-primary-._unclickable_, input[type="submit"].-primary-._unclickable_, input[type="reset"].-primary-._unclickable_ {
    background-image: -webkit-linear-gradient(#3da0e7 0, #156ba9 100%) !important;
    background-image: -moz-linear-gradient(#3da0e7 0, #156ba9 100%) !important;
    background-image: -ms-linear-gradient(#3da0e7 0, #156ba9 100%) !important;
    background-image: -o-linear-gradient(#3da0e7 0, #156ba9 100%) !important;
    background-image: linear-gradient(#3da0e7 0, #156ba9 100%) !important; }
  .-btn.-primary-:active, input[type="button"].-primary-:active, input[type="submit"].-primary-:active, input[type="reset"].-primary-:active {
    background-image: -webkit-linear-gradient(#156ba9 0, #104e7b 100%);
    background-image: -moz-linear-gradient(#156ba9 0, #104e7b 100%);
    background-image: -ms-linear-gradient(#156ba9 0, #104e7b 100%);
    background-image: -o-linear-gradient(#156ba9 0, #104e7b 100%);
    background-image: linear-gradient(#156ba9 0, #104e7b 100%); }
    .-btn.-primary-:active._loading_, input[type="button"].-primary-:active._loading_, input[type="submit"].-primary-:active._loading_, input[type="reset"].-primary-:active._loading_ {
      -webkit-background-size: 52px 52px;
      -moz-background-size: 52px 52px;
      -ms-background-size: 52px 52px;
      -o-background-size: 52px 52px;
      background-size: 52px 52px;
      background-image: -webkit-linear-gradient(-45deg, #156ba9 25%, #1b88d6 25%, #1b88d6 50%, #156ba9 50%, #156ba9 75%, #1b88d6 75%, #1b88d6);
      background-image: -moz-linear-gradient(-45deg, #156ba9 25%, #1b88d6 25%, #1b88d6 50%, #156ba9 50%, #156ba9 75%, #1b88d6 75%, #1b88d6);
      background-image: -ms-linear-gradient(-45deg, #156ba9 25%, #1b88d6 25%, #1b88d6 50%, #156ba9 50%, #156ba9 75%, #1b88d6 75%, #1b88d6);
      background-image: -o-linear-gradient(-45deg, #156ba9 25%, #1b88d6 25%, #1b88d6 50%, #156ba9 50%, #156ba9 75%, #1b88d6 75%, #1b88d6);
      background-image: linear-gradient(-45deg, #156ba9 25%, #1b88d6 25%, #1b88d6 50%, #156ba9 50%, #156ba9 75%, #1b88d6 75%, #1b88d6);
      -webkit-animation: move 2s linear infinite;
      -moz-animation: move 2s linear infinite;
      animation: move 2s linear infinite; }
  .-btn.-primary-._active_, input[type="button"].-primary-._active_, input[type="submit"].-primary-._active_, input[type="reset"].-primary-._active_ {
    background-image: -webkit-linear-gradient(#156ba9 0, #104e7b 100%);
    background-image: -moz-linear-gradient(#156ba9 0, #104e7b 100%);
    background-image: -ms-linear-gradient(#156ba9 0, #104e7b 100%);
    background-image: -o-linear-gradient(#156ba9 0, #104e7b 100%);
    background-image: linear-gradient(#156ba9 0, #104e7b 100%); }
    .-btn.-primary-._active_._unclickable_, input[type="button"].-primary-._active_._unclickable_, input[type="submit"].-primary-._active_._unclickable_, input[type="reset"].-primary-._active_._unclickable_ {
      background-image: -webkit-linear-gradient(#156ba9 0, #104e7b 100%) !important;
      background-image: -moz-linear-gradient(#156ba9 0, #104e7b 100%) !important;
      background-image: -ms-linear-gradient(#156ba9 0, #104e7b 100%) !important;
      background-image: -o-linear-gradient(#156ba9 0, #104e7b 100%) !important;
      background-image: linear-gradient(#156ba9 0, #104e7b 100%) !important; }
    .-btn.-primary-._active_._loading_, input[type="button"].-primary-._active_._loading_, input[type="submit"].-primary-._active_._loading_, input[type="reset"].-primary-._active_._loading_ {
      -webkit-background-size: 52px 52px;
      -moz-background-size: 52px 52px;
      -ms-background-size: 52px 52px;
      -o-background-size: 52px 52px;
      background-size: 52px 52px;
      background-image: -webkit-linear-gradient(-45deg, #156ba9 25%, #1b88d6 25%, #1b88d6 50%, #156ba9 50%, #156ba9 75%, #1b88d6 75%, #1b88d6);
      background-image: -moz-linear-gradient(-45deg, #156ba9 25%, #1b88d6 25%, #1b88d6 50%, #156ba9 50%, #156ba9 75%, #1b88d6 75%, #1b88d6);
      background-image: -ms-linear-gradient(-45deg, #156ba9 25%, #1b88d6 25%, #1b88d6 50%, #156ba9 50%, #156ba9 75%, #1b88d6 75%, #1b88d6);
      background-image: -o-linear-gradient(-45deg, #156ba9 25%, #1b88d6 25%, #1b88d6 50%, #156ba9 50%, #156ba9 75%, #1b88d6 75%, #1b88d6);
      background-image: linear-gradient(-45deg, #156ba9 25%, #1b88d6 25%, #1b88d6 50%, #156ba9 50%, #156ba9 75%, #1b88d6 75%, #1b88d6);
      -webkit-animation: move 2s linear infinite;
      -moz-animation: move 2s linear infinite;
      animation: move 2s linear infinite; }
  .-btn.-primary-._loading_, input[type="button"].-primary-._loading_, input[type="submit"].-primary-._loading_, input[type="reset"].-primary-._loading_ {
    -webkit-background-size: 52px 52px;
    -moz-background-size: 52px 52px;
    -ms-background-size: 52px 52px;
    -o-background-size: 52px 52px;
    background-size: 52px 52px;
    background-image: -webkit-linear-gradient(-45deg, #156ba9 25%, #3da0e7 25%, #3da0e7 50%, #156ba9 50%, #156ba9 75%, #3da0e7 75%, #3da0e7);
    background-image: -moz-linear-gradient(-45deg, #156ba9 25%, #3da0e7 25%, #3da0e7 50%, #156ba9 50%, #156ba9 75%, #3da0e7 75%, #3da0e7);
    background-image: -ms-linear-gradient(-45deg, #156ba9 25%, #3da0e7 25%, #3da0e7 50%, #156ba9 50%, #156ba9 75%, #3da0e7 75%, #3da0e7);
    background-image: -o-linear-gradient(-45deg, #156ba9 25%, #3da0e7 25%, #3da0e7 50%, #156ba9 50%, #156ba9 75%, #3da0e7 75%, #3da0e7);
    background-image: linear-gradient(-45deg, #156ba9 25%, #3da0e7 25%, #3da0e7 50%, #156ba9 50%, #156ba9 75%, #3da0e7 75%, #3da0e7);
    -webkit-animation: move 2s linear infinite;
    -moz-animation: move 2s linear infinite;
    animation: move 2s linear infinite; }
  .-btn.-primary-._unstyled_, input[type="button"].-primary-._unstyled_, input[type="submit"].-primary-._unstyled_, input[type="reset"].-primary-._unstyled_ {
    background: none !important;
    color: #1b88d6;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    text-decoration: underline; }
    .-btn.-primary-._unstyled_:active, .-btn.-primary-._unstyled_:hover, input[type="button"].-primary-._unstyled_:active, input[type="button"].-primary-._unstyled_:hover, input[type="submit"].-primary-._unstyled_:active, input[type="submit"].-primary-._unstyled_:hover, input[type="reset"].-primary-._unstyled_:active, input[type="reset"].-primary-._unstyled_:hover {
      text-decoration: none; }
