.-arrow, .-tooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: inline-block;
  outline: none;
  vertical-align: middle; }

.-arrow, .-tooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: inline-block;
  outline: none;
  vertical-align: middle; }

@-webkit-keyframes move {
  from {
    background-position: 0 0; }

  to {
    background-position: 52px 52px; } }

@-moz-keyframes move {
  from {
    background-position: 0 0; }

  to {
    background-position: 52px 52px; } }

@-ms-keyframes move {
  from {
    background-position: 0 0; }

  to {
    background-position: 52px 52px; } }

@-o-keyframes move {
  from {
    background-position: 0 0; }

  to {
    background-position: 52px 52px; } }

@keyframes move {
  from {
    background-position: 0 0; }

  to {
    background-position: 52px 52px; } }

.-tooltip {
  position: relative;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.3);
  padding: 4px 6px;
  font-size: 12px;
  line-height: 12px; }
  .-tooltip._big {
    padding: 6px 8px;
    font-size: 16px;
    line-height: 16px; }
  .-tooltip._huge {
    padding: 8px 10px;
    font-size: 21px;
    line-height: 21px; }
  .-tooltip .-arrow {
    position: absolute; }
  .-tooltip._top_ .-arrow {
    left: 50%;
    margin-left: -4px;
    bottom: -8px; }
  .-tooltip._bottom_ .-arrow {
    left: 50%;
    margin-left: -4px;
    top: -8px; }
  .-tooltip._left_ .-arrow {
    top: 50%;
    margin-top: -4px;
    right: -8px; }
  .-tooltip._right_ .-arrow {
    top: 50%;
    margin-top: -4px;
    left: -8px; }

.-tooltip {
  background-image: -webkit-linear-gradient(to bottom, #fbfbfb, #eeeeee);
  background-image: -moz-linear-gradient(to bottom, #fbfbfb, #eeeeee);
  background-image: -ms-linear-gradient(to bottom, #fbfbfb, #eeeeee);
  background-image: -o-linear-gradient(to bottom, #fbfbfb, #eeeeee);
  background-image: linear-gradient(to bottom, #fbfbfb, #eeeeee);
  color: #333333; }
  .-tooltip._bottom_ .-arrow {
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 4px;
    border-bottom-color: silver; }
  .-tooltip._top_ .-arrow {
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 4px;
    border-top-color: silver; }
  .-tooltip._left_ .-arrow {
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 4px;
    border-left-color: silver; }
  .-tooltip._right_ .-arrow {
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 4px;
    border-right-color: silver; }

.-tooltip.-disabled- {
  background-image: -webkit-linear-gradient(to bottom, #f3f3f3, #f3f3f3);
  background-image: -moz-linear-gradient(to bottom, #f3f3f3, #f3f3f3);
  background-image: -ms-linear-gradient(to bottom, #f3f3f3, #f3f3f3);
  background-image: -o-linear-gradient(to bottom, #f3f3f3, #f3f3f3);
  background-image: linear-gradient(to bottom, #f3f3f3, #f3f3f3);
  color: white; }
  .-tooltip.-disabled-._bottom_ .-arrow {
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 4px;
    border-bottom-color: silver; }
  .-tooltip.-disabled-._top_ .-arrow {
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 4px;
    border-top-color: silver; }
  .-tooltip.-disabled-._left_ .-arrow {
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 4px;
    border-left-color: silver; }
  .-tooltip.-disabled-._right_ .-arrow {
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 4px;
    border-right-color: silver; }

.-tooltip.-primary- {
  background-image: -webkit-linear-gradient(to bottom, #1b88d6, #156ba9);
  background-image: -moz-linear-gradient(to bottom, #1b88d6, #156ba9);
  background-image: -ms-linear-gradient(to bottom, #1b88d6, #156ba9);
  background-image: -o-linear-gradient(to bottom, #1b88d6, #156ba9);
  background-image: linear-gradient(to bottom, #1b88d6, #156ba9);
  color: white; }
  .-tooltip.-primary-._bottom_ .-arrow {
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 4px;
    border-bottom-color: #104e7b; }
  .-tooltip.-primary-._top_ .-arrow {
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 4px;
    border-top-color: #104e7b; }
  .-tooltip.-primary-._left_ .-arrow {
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 4px;
    border-left-color: #104e7b; }
  .-tooltip.-primary-._right_ .-arrow {
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 4px;
    border-right-color: #104e7b; }
