.-caret {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: inline-block;
  outline: none;
  vertical-align: middle; }

.-caret {
  width: 0;
  height: 0; }
  .-caret._tiny {
    border: 6px solid; }
  .-caret._small {
    border: 7px solid; }
  .-caret._minor {
    border: 8px solid; }
  .-caret._normal {
    border: 12px solid; }
  .-caret._major {
    border: 16px solid; }
  .-caret._big {
    border: 20px solid; }
  .-caret._huge {
    border: 24px solid; }
  .-caret._giant {
    border: 30px solid; }
  .-caret._divine {
    border: 39px solid; }
  .-caret._bottom_ {
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom: none; }
  .-caret._top_ {
    border-left-color: transparent;
    border-right-color: transparent;
    border-top: none; }
  .-caret._left_ {
    border-left: none;
    border-bottom-color: transparent;
    border-top-color: transparent; }
  .-caret._right_ {
    border-right: none;
    border-bottom-color: transparent;
    border-top-color: transparent; }
