@import "imports" 
@import "params" 
@import "vars" 
@import "myvars" 
 
@mixin menu( $index ) 
	& > li
		&.#{$mod-loading}
			& > a
				color: nth( $color-invert, $index )
				@include loading( rgba( nth( $background-color-lighten, $index ), 1), rgba( nth( $background-color, $index ), 1) )

	li:hover
		& > a
			background-color: nth( $background-color, $index )
			color: nth( $color-invert, $index )
			border: $menu-border-width $menu-border-style nth( $border-color, $index )
		&.#{$mod-loading}
			& > a
				@include loading( rgba( nth( $background-color-darken, $index ), 1), rgba( nth( $background-color, $index ), 1) )

	li.#{$mod-hover}
		& > a
			background-color: nth( $background-color, $index )!important
			color: nth( $color-invert, $index )!important
			border: $menu-border-width $menu-border-style nth( $border-color, $index )!important
		&.#{$mod-loading}
			& > a
				@include loading( rgba( nth( $background-color-darken, $index ), 1), rgba( nth( $background-color, $index ), 1) )

	li
		& > a:active
			background-color: nth( $background-color-darken, $index )!important
			color: nth( $color-invert, $index )!important
			border: $menu-border-width $menu-border-style nth( $border-color, $index )!important
		&.#{$mod-loading}
			& > a:active
				@include loading( rgba( nth( $background-color-darkener, $index ), 1), rgba( nth( $background-color-darken, $index ), 1) )

	& > li.#{$mod-active}
		& > a
			background-color: nth( $background-color-darken, $index )!important
			color: nth( $color-invert, $index )!important
			border: $menu-border-width $menu-border-style nth( $border-color, $index )!important
		&.#{$mod-loading}
			& > a
				@include loading( rgba( nth( $background-color-darkener, $index ), 1), rgba( nth( $background-color-darken, $index ), 1) )





@mixin menu-size( $mod, $top, $left, $font )
	li
		& > a
			padding: $top $left
			font-size: $font
			line-height: $font
			
			.-icon-caret-right
				margin-top: -$font/2


@mixin menu-sizes( $mod, $top, $left, $font )

	@if $mod != ''
		&.#{$mod}
			@include menu-size( $mod, $top, $left, $font )

	@else
		@include menu-size( $mod, $top, $left, $font )



%dropdown-show
	display: block
	&:after
		display: none

	&.#{$mod-bottom}
		top: 100%

	&.#{$mod-left}
		top: 0
		right: 100%

	&.#{$mod-top}
		bottom: 100%

	&.#{$mod-right}
		left: 100%
		top: 0


@if $dependent == null
	.#{$menu}
		list-style: none
		margin: 0

		li
			@extend %object
			position: relative

			& > a
				@extend %object
				border: $menu-border-width $menu-border-style transparent
				cursor: pointer
				@include user-select

				.-icon-caret-right
					position: absolute
					right: 4px
					top: 50%
					opacity: .3

			& > .#{$dropdown}
				position: absolute
				display: none
				@include border-radius( $menu-dropdown-border-radius )
				@include box-shadow( $menu-dropdown-shadow )

				& > .#{$menu}
					li
						width: 100%
						a
							display: block

			&.#{$mod-active},
			&.#{$mod-hover},
			&:active,
			&:hover
				& > a
					.-icon-caret-right
						opacity: 1

			&.#{$mod-active}
				& > .#{$dropdown}
					@extend %dropdown-show
		
		&.#{$mod-vertical}
			li
				display: block
				a
					display: block

		&.#{$mod-active}
			li
				&:hover,
				&.#{$mod-hover}
					& > .#{$dropdown}
						@extend %dropdown-show


		&.#{$mod-unstyled}
			li
				&:hover a,
				&.#{$mod-hover} a,
				&:active a,
				&.#{$mod-active} a
					border-color: transparent!important
					background-color: transparent!important

		@include menu-sizes( $mod-tiny, 3px, 5px, round(golden-ratio(14px, -2) + 4) )
		@include menu-sizes( $mod-small, 3px, 5px, round(golden-ratio(14px, -1) + 2) )
		@include menu-sizes( '', 6px, 10px, 14px )
		@include menu-sizes( $mod-big, 7px, 13px, round(golden-ratio(14px, 1)) )
		@include menu-sizes( $mod-huge, 10px, 16px, round(golden-ratio(14px, 2)) )


 
$themes: null !default 
 
@if $themes 
	@if type-of( $themes ) == list 
	  
		@each $theme in $themes 
	 
			$index: index( $themes, $theme ) 
	 
			// With each theme do 
			@if $dependent == null 
				@if $theme != "default" 
					.#{$menu}.#{$theme} 
						@include menu( $index ) 
				@else 
					.#{$menu} 
						@include menu( $index ) 
			@else 
				%#{$menu}.#{$theme} 
					@include menu( $index ) 
 
	@else 
		@if type-of( $themes ) == string 
			@if $dependent == null 
				@if $theme != "default" 
					.#{$menu}.#{$theme} 
						@include menu( $index ) 
				@else 
					.#{$menu} 
						@include menu( $index ) 
			@else 
				%#{$menu}.#{$theme} 
					@include menu( $index ) 