@-webkit-keyframes move {
  from {
    background-position: 0 0; }

  to {
    background-position: 52px 52px; } }

@-moz-keyframes move {
  from {
    background-position: 0 0; }

  to {
    background-position: 52px 52px; } }

@-ms-keyframes move {
  from {
    background-position: 0 0; }

  to {
    background-position: 52px 52px; } }

@-o-keyframes move {
  from {
    background-position: 0 0; }

  to {
    background-position: 52px 52px; } }

@keyframes move {
  from {
    background-position: 0 0; }

  to {
    background-position: 52px 52px; } }

.-arrow, .-menu li, .-menu li > a {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: inline-block;
  outline: none;
  vertical-align: middle; }

.-arrow, .-menu li, .-menu li > a {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: inline-block;
  outline: none;
  vertical-align: middle; }

@-webkit-keyframes move {
  from {
    background-position: 0 0; }

  to {
    background-position: 52px 52px; } }

@-moz-keyframes move {
  from {
    background-position: 0 0; }

  to {
    background-position: 52px 52px; } }

@-ms-keyframes move {
  from {
    background-position: 0 0; }

  to {
    background-position: 52px 52px; } }

@-o-keyframes move {
  from {
    background-position: 0 0; }

  to {
    background-position: 52px 52px; } }

@keyframes move {
  from {
    background-position: 0 0; }

  to {
    background-position: 52px 52px; } }

.-arrow, .-menu li, .-menu li > a {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: inline-block;
  outline: none;
  vertical-align: middle; }

.-menu li._active_ > .-dropdown, .-menu._active_ li:hover > .-dropdown {
  display: block; }
  .-menu li._active_ > .-dropdown:after, .-menu._active_ li:hover > .-dropdown:after {
    display: none; }
  .-menu li._active_ > ._bottom_.-dropdown, .-menu._active_ li:hover > ._bottom_.-dropdown {
    top: 100%; }
  .-menu li._active_ > ._left_.-dropdown, .-menu._active_ li:hover > ._left_.-dropdown {
    top: 0;
    right: 100%; }
  .-menu li._active_ > ._top_.-dropdown, .-menu._active_ li:hover > ._top_.-dropdown {
    bottom: 100%; }
  .-menu li._active_ > ._right_.-dropdown, .-menu._active_ li:hover > ._right_.-dropdown {
    left: 100%;
    top: 0; }

.-menu {
  list-style: none;
  margin: 0; }
  .-menu li {
    position: relative; }
    .-menu li > a {
      border: 1px solid transparent;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
      .-menu li > a .-icon-caret-right {
        position: absolute;
        right: 4px;
        top: 50%;
        opacity: 0.3; }
    .-menu li > .-dropdown {
      position: absolute;
      display: none;
      border-radius: 2px;
      -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); }
      .-menu li > .-dropdown > .-menu li {
        width: 100%; }
        .-menu li > .-dropdown > .-menu li a {
          display: block; }
    .-menu li._active_ > a .-icon-caret-right, .-menu li._hover_ > a .-icon-caret-right, .-menu li:active > a .-icon-caret-right, .-menu li:hover > a .-icon-caret-right {
      opacity: 1; }
  .-menu._vertical_ li {
    display: block; }
    .-menu._vertical_ li a {
      display: block; }
  .-menu._unstyled_ li:hover a {
    border-color: transparent !important;
    background-color: transparent !important; }
  .-menu._tiny li > a {
    padding: 3px 5px;
    font-size: 9px;
    line-height: 9px; }
    .-menu._tiny li > a .-icon-caret-right {
      margin-top: -4.5px; }
  .-menu._small li > a {
    padding: 3px 5px;
    font-size: 11px;
    line-height: 11px; }
    .-menu._small li > a .-icon-caret-right {
      margin-top: -5.5px; }
  .-menu li > a {
    padding: 6px 10px;
    font-size: 14px;
    line-height: 14px; }
    .-menu li > a .-icon-caret-right {
      margin-top: -7px; }
  .-menu._big li > a {
    padding: 7px 13px;
    font-size: 23px;
    line-height: 23px; }
    .-menu._big li > a .-icon-caret-right {
      margin-top: -11.5px; }
  .-menu._huge li > a {
    padding: 10px 16px;
    font-size: 37px;
    line-height: 37px; }
    .-menu._huge li > a .-icon-caret-right {
      margin-top: -18.5px; }

.-menu > li._loading_ > a {
  color: #333333;
  -webkit-background-size: 52px 52px;
  -moz-background-size: 52px 52px;
  -ms-background-size: 52px 52px;
  -o-background-size: 52px 52px;
  background-size: 52px 52px;
  background-image: -webkit-linear-gradient(-45deg, white 25%, #fbfbfb 25%, #fbfbfb 50%, white 50%, white 75%, #fbfbfb 75%, #fbfbfb);
  background-image: -moz-linear-gradient(-45deg, white 25%, #fbfbfb 25%, #fbfbfb 50%, white 50%, white 75%, #fbfbfb 75%, #fbfbfb);
  background-image: -ms-linear-gradient(-45deg, white 25%, #fbfbfb 25%, #fbfbfb 50%, white 50%, white 75%, #fbfbfb 75%, #fbfbfb);
  background-image: -o-linear-gradient(-45deg, white 25%, #fbfbfb 25%, #fbfbfb 50%, white 50%, white 75%, #fbfbfb 75%, #fbfbfb);
  background-image: linear-gradient(-45deg, white 25%, #fbfbfb 25%, #fbfbfb 50%, white 50%, white 75%, #fbfbfb 75%, #fbfbfb);
  -webkit-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  animation: move 2s linear infinite; }
.-menu li:hover > a {
  background-color: #fbfbfb;
  color: #333333;
  border: 1px solid #e6e6e6; }
.-menu li:hover._loading_ > a {
  -webkit-background-size: 52px 52px;
  -moz-background-size: 52px 52px;
  -ms-background-size: 52px 52px;
  -o-background-size: 52px 52px;
  background-size: 52px 52px;
  background-image: -webkit-linear-gradient(-45deg, #eeeeee 25%, #fbfbfb 25%, #fbfbfb 50%, #eeeeee 50%, #eeeeee 75%, #fbfbfb 75%, #fbfbfb);
  background-image: -moz-linear-gradient(-45deg, #eeeeee 25%, #fbfbfb 25%, #fbfbfb 50%, #eeeeee 50%, #eeeeee 75%, #fbfbfb 75%, #fbfbfb);
  background-image: -ms-linear-gradient(-45deg, #eeeeee 25%, #fbfbfb 25%, #fbfbfb 50%, #eeeeee 50%, #eeeeee 75%, #fbfbfb 75%, #fbfbfb);
  background-image: -o-linear-gradient(-45deg, #eeeeee 25%, #fbfbfb 25%, #fbfbfb 50%, #eeeeee 50%, #eeeeee 75%, #fbfbfb 75%, #fbfbfb);
  background-image: linear-gradient(-45deg, #eeeeee 25%, #fbfbfb 25%, #fbfbfb 50%, #eeeeee 50%, #eeeeee 75%, #fbfbfb 75%, #fbfbfb);
  -webkit-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  animation: move 2s linear infinite; }
.-menu li._hover_ > a {
  background-color: #fbfbfb !important;
  color: #333333 !important;
  border: 1px solid #e6e6e6 !important; }
.-menu li._hover_._loading_ > a {
  -webkit-background-size: 52px 52px;
  -moz-background-size: 52px 52px;
  -ms-background-size: 52px 52px;
  -o-background-size: 52px 52px;
  background-size: 52px 52px;
  background-image: -webkit-linear-gradient(-45deg, #eeeeee 25%, #fbfbfb 25%, #fbfbfb 50%, #eeeeee 50%, #eeeeee 75%, #fbfbfb 75%, #fbfbfb);
  background-image: -moz-linear-gradient(-45deg, #eeeeee 25%, #fbfbfb 25%, #fbfbfb 50%, #eeeeee 50%, #eeeeee 75%, #fbfbfb 75%, #fbfbfb);
  background-image: -ms-linear-gradient(-45deg, #eeeeee 25%, #fbfbfb 25%, #fbfbfb 50%, #eeeeee 50%, #eeeeee 75%, #fbfbfb 75%, #fbfbfb);
  background-image: -o-linear-gradient(-45deg, #eeeeee 25%, #fbfbfb 25%, #fbfbfb 50%, #eeeeee 50%, #eeeeee 75%, #fbfbfb 75%, #fbfbfb);
  background-image: linear-gradient(-45deg, #eeeeee 25%, #fbfbfb 25%, #fbfbfb 50%, #eeeeee 50%, #eeeeee 75%, #fbfbfb 75%, #fbfbfb);
  -webkit-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  animation: move 2s linear infinite; }
.-menu li > a:active {
  background-color: #eeeeee !important;
  color: #333333 !important;
  border: 1px solid #e6e6e6 !important; }
.-menu li._loading_ > a:active {
  -webkit-background-size: 52px 52px;
  -moz-background-size: 52px 52px;
  -ms-background-size: 52px 52px;
  -o-background-size: 52px 52px;
  background-size: 52px 52px;
  background-image: -webkit-linear-gradient(-45deg, #e2e2e2 25%, #eeeeee 25%, #eeeeee 50%, #e2e2e2 50%, #e2e2e2 75%, #eeeeee 75%, #eeeeee);
  background-image: -moz-linear-gradient(-45deg, #e2e2e2 25%, #eeeeee 25%, #eeeeee 50%, #e2e2e2 50%, #e2e2e2 75%, #eeeeee 75%, #eeeeee);
  background-image: -ms-linear-gradient(-45deg, #e2e2e2 25%, #eeeeee 25%, #eeeeee 50%, #e2e2e2 50%, #e2e2e2 75%, #eeeeee 75%, #eeeeee);
  background-image: -o-linear-gradient(-45deg, #e2e2e2 25%, #eeeeee 25%, #eeeeee 50%, #e2e2e2 50%, #e2e2e2 75%, #eeeeee 75%, #eeeeee);
  background-image: linear-gradient(-45deg, #e2e2e2 25%, #eeeeee 25%, #eeeeee 50%, #e2e2e2 50%, #e2e2e2 75%, #eeeeee 75%, #eeeeee);
  -webkit-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  animation: move 2s linear infinite; }
.-menu > li._active_ > a {
  background-color: #eeeeee !important;
  color: #333333 !important;
  border: 1px solid #e6e6e6 !important; }
.-menu > li._active_._loading_ > a {
  -webkit-background-size: 52px 52px;
  -moz-background-size: 52px 52px;
  -ms-background-size: 52px 52px;
  -o-background-size: 52px 52px;
  background-size: 52px 52px;
  background-image: -webkit-linear-gradient(-45deg, #e2e2e2 25%, #eeeeee 25%, #eeeeee 50%, #e2e2e2 50%, #e2e2e2 75%, #eeeeee 75%, #eeeeee);
  background-image: -moz-linear-gradient(-45deg, #e2e2e2 25%, #eeeeee 25%, #eeeeee 50%, #e2e2e2 50%, #e2e2e2 75%, #eeeeee 75%, #eeeeee);
  background-image: -ms-linear-gradient(-45deg, #e2e2e2 25%, #eeeeee 25%, #eeeeee 50%, #e2e2e2 50%, #e2e2e2 75%, #eeeeee 75%, #eeeeee);
  background-image: -o-linear-gradient(-45deg, #e2e2e2 25%, #eeeeee 25%, #eeeeee 50%, #e2e2e2 50%, #e2e2e2 75%, #eeeeee 75%, #eeeeee);
  background-image: linear-gradient(-45deg, #e2e2e2 25%, #eeeeee 25%, #eeeeee 50%, #e2e2e2 50%, #e2e2e2 75%, #eeeeee 75%, #eeeeee);
  -webkit-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  animation: move 2s linear infinite; }

.-menu.-disabled- > li._loading_ > a {
  color: white;
  -webkit-background-size: 52px 52px;
  -moz-background-size: 52px 52px;
  -ms-background-size: 52px 52px;
  -o-background-size: 52px 52px;
  background-size: 52px 52px;
  background-image: -webkit-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
  background-image: -moz-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
  background-image: -ms-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
  background-image: -o-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
  background-image: linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
  -webkit-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  animation: move 2s linear infinite; }
.-menu.-disabled- li:hover > a {
  background-color: #f3f3f3;
  color: white;
  border: 1px solid #d9d9d9; }
.-menu.-disabled- li:hover._loading_ > a {
  -webkit-background-size: 52px 52px;
  -moz-background-size: 52px 52px;
  -ms-background-size: 52px 52px;
  -o-background-size: 52px 52px;
  background-size: 52px 52px;
  background-image: -webkit-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
  background-image: -moz-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
  background-image: -ms-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
  background-image: -o-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
  background-image: linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
  -webkit-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  animation: move 2s linear infinite; }
.-menu.-disabled- li._hover_ > a {
  background-color: #f3f3f3 !important;
  color: white !important;
  border: 1px solid #d9d9d9 !important; }
.-menu.-disabled- li._hover_._loading_ > a {
  -webkit-background-size: 52px 52px;
  -moz-background-size: 52px 52px;
  -ms-background-size: 52px 52px;
  -o-background-size: 52px 52px;
  background-size: 52px 52px;
  background-image: -webkit-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
  background-image: -moz-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
  background-image: -ms-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
  background-image: -o-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
  background-image: linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
  -webkit-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  animation: move 2s linear infinite; }
.-menu.-disabled- li > a:active {
  background-color: #f3f3f3 !important;
  color: white !important;
  border: 1px solid #d9d9d9 !important; }
.-menu.-disabled- li._loading_ > a:active {
  -webkit-background-size: 52px 52px;
  -moz-background-size: 52px 52px;
  -ms-background-size: 52px 52px;
  -o-background-size: 52px 52px;
  background-size: 52px 52px;
  background-image: -webkit-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
  background-image: -moz-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
  background-image: -ms-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
  background-image: -o-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
  background-image: linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
  -webkit-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  animation: move 2s linear infinite; }
.-menu.-disabled- > li._active_ > a {
  background-color: #f3f3f3 !important;
  color: white !important;
  border: 1px solid #d9d9d9 !important; }
.-menu.-disabled- > li._active_._loading_ > a {
  -webkit-background-size: 52px 52px;
  -moz-background-size: 52px 52px;
  -ms-background-size: 52px 52px;
  -o-background-size: 52px 52px;
  background-size: 52px 52px;
  background-image: -webkit-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
  background-image: -moz-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
  background-image: -ms-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
  background-image: -o-linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
  background-image: linear-gradient(-45deg, #f3f3f3 25%, #f3f3f3 25%, #f3f3f3 50%, #f3f3f3 50%, #f3f3f3 75%, #f3f3f3 75%, #f3f3f3);
  -webkit-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  animation: move 2s linear infinite; }

.-menu.-primary- > li._loading_ > a {
  color: white;
  -webkit-background-size: 52px 52px;
  -moz-background-size: 52px 52px;
  -ms-background-size: 52px 52px;
  -o-background-size: 52px 52px;
  background-size: 52px 52px;
  background-image: -webkit-linear-gradient(-45deg, #3da0e7 25%, #1b88d6 25%, #1b88d6 50%, #3da0e7 50%, #3da0e7 75%, #1b88d6 75%, #1b88d6);
  background-image: -moz-linear-gradient(-45deg, #3da0e7 25%, #1b88d6 25%, #1b88d6 50%, #3da0e7 50%, #3da0e7 75%, #1b88d6 75%, #1b88d6);
  background-image: -ms-linear-gradient(-45deg, #3da0e7 25%, #1b88d6 25%, #1b88d6 50%, #3da0e7 50%, #3da0e7 75%, #1b88d6 75%, #1b88d6);
  background-image: -o-linear-gradient(-45deg, #3da0e7 25%, #1b88d6 25%, #1b88d6 50%, #3da0e7 50%, #3da0e7 75%, #1b88d6 75%, #1b88d6);
  background-image: linear-gradient(-45deg, #3da0e7 25%, #1b88d6 25%, #1b88d6 50%, #3da0e7 50%, #3da0e7 75%, #1b88d6 75%, #1b88d6);
  -webkit-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  animation: move 2s linear infinite; }
.-menu.-primary- li:hover > a {
  background-color: #1b88d6;
  color: white;
  border: 1px solid #187abf; }
.-menu.-primary- li:hover._loading_ > a {
  -webkit-background-size: 52px 52px;
  -moz-background-size: 52px 52px;
  -ms-background-size: 52px 52px;
  -o-background-size: 52px 52px;
  background-size: 52px 52px;
  background-image: -webkit-linear-gradient(-45deg, #156ba9 25%, #1b88d6 25%, #1b88d6 50%, #156ba9 50%, #156ba9 75%, #1b88d6 75%, #1b88d6);
  background-image: -moz-linear-gradient(-45deg, #156ba9 25%, #1b88d6 25%, #1b88d6 50%, #156ba9 50%, #156ba9 75%, #1b88d6 75%, #1b88d6);
  background-image: -ms-linear-gradient(-45deg, #156ba9 25%, #1b88d6 25%, #1b88d6 50%, #156ba9 50%, #156ba9 75%, #1b88d6 75%, #1b88d6);
  background-image: -o-linear-gradient(-45deg, #156ba9 25%, #1b88d6 25%, #1b88d6 50%, #156ba9 50%, #156ba9 75%, #1b88d6 75%, #1b88d6);
  background-image: linear-gradient(-45deg, #156ba9 25%, #1b88d6 25%, #1b88d6 50%, #156ba9 50%, #156ba9 75%, #1b88d6 75%, #1b88d6);
  -webkit-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  animation: move 2s linear infinite; }
.-menu.-primary- li._hover_ > a {
  background-color: #1b88d6 !important;
  color: white !important;
  border: 1px solid #187abf !important; }
.-menu.-primary- li._hover_._loading_ > a {
  -webkit-background-size: 52px 52px;
  -moz-background-size: 52px 52px;
  -ms-background-size: 52px 52px;
  -o-background-size: 52px 52px;
  background-size: 52px 52px;
  background-image: -webkit-linear-gradient(-45deg, #156ba9 25%, #1b88d6 25%, #1b88d6 50%, #156ba9 50%, #156ba9 75%, #1b88d6 75%, #1b88d6);
  background-image: -moz-linear-gradient(-45deg, #156ba9 25%, #1b88d6 25%, #1b88d6 50%, #156ba9 50%, #156ba9 75%, #1b88d6 75%, #1b88d6);
  background-image: -ms-linear-gradient(-45deg, #156ba9 25%, #1b88d6 25%, #1b88d6 50%, #156ba9 50%, #156ba9 75%, #1b88d6 75%, #1b88d6);
  background-image: -o-linear-gradient(-45deg, #156ba9 25%, #1b88d6 25%, #1b88d6 50%, #156ba9 50%, #156ba9 75%, #1b88d6 75%, #1b88d6);
  background-image: linear-gradient(-45deg, #156ba9 25%, #1b88d6 25%, #1b88d6 50%, #156ba9 50%, #156ba9 75%, #1b88d6 75%, #1b88d6);
  -webkit-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  animation: move 2s linear infinite; }
.-menu.-primary- li > a:active {
  background-color: #156ba9 !important;
  color: white !important;
  border: 1px solid #187abf !important; }
.-menu.-primary- li._loading_ > a:active {
  -webkit-background-size: 52px 52px;
  -moz-background-size: 52px 52px;
  -ms-background-size: 52px 52px;
  -o-background-size: 52px 52px;
  background-size: 52px 52px;
  background-image: -webkit-linear-gradient(-45deg, #104e7b 25%, #156ba9 25%, #156ba9 50%, #104e7b 50%, #104e7b 75%, #156ba9 75%, #156ba9);
  background-image: -moz-linear-gradient(-45deg, #104e7b 25%, #156ba9 25%, #156ba9 50%, #104e7b 50%, #104e7b 75%, #156ba9 75%, #156ba9);
  background-image: -ms-linear-gradient(-45deg, #104e7b 25%, #156ba9 25%, #156ba9 50%, #104e7b 50%, #104e7b 75%, #156ba9 75%, #156ba9);
  background-image: -o-linear-gradient(-45deg, #104e7b 25%, #156ba9 25%, #156ba9 50%, #104e7b 50%, #104e7b 75%, #156ba9 75%, #156ba9);
  background-image: linear-gradient(-45deg, #104e7b 25%, #156ba9 25%, #156ba9 50%, #104e7b 50%, #104e7b 75%, #156ba9 75%, #156ba9);
  -webkit-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  animation: move 2s linear infinite; }
.-menu.-primary- > li._active_ > a {
  background-color: #156ba9 !important;
  color: white !important;
  border: 1px solid #187abf !important; }
.-menu.-primary- > li._active_._loading_ > a {
  -webkit-background-size: 52px 52px;
  -moz-background-size: 52px 52px;
  -ms-background-size: 52px 52px;
  -o-background-size: 52px 52px;
  background-size: 52px 52px;
  background-image: -webkit-linear-gradient(-45deg, #104e7b 25%, #156ba9 25%, #156ba9 50%, #104e7b 50%, #104e7b 75%, #156ba9 75%, #156ba9);
  background-image: -moz-linear-gradient(-45deg, #104e7b 25%, #156ba9 25%, #156ba9 50%, #104e7b 50%, #104e7b 75%, #156ba9 75%, #156ba9);
  background-image: -ms-linear-gradient(-45deg, #104e7b 25%, #156ba9 25%, #156ba9 50%, #104e7b 50%, #104e7b 75%, #156ba9 75%, #156ba9);
  background-image: -o-linear-gradient(-45deg, #104e7b 25%, #156ba9 25%, #156ba9 50%, #104e7b 50%, #104e7b 75%, #156ba9 75%, #156ba9);
  background-image: linear-gradient(-45deg, #104e7b 25%, #156ba9 25%, #156ba9 50%, #104e7b 50%, #104e7b 75%, #156ba9 75%, #156ba9);
  -webkit-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  animation: move 2s linear infinite; }
